.accordion {
  background-color: $black;
  .row-outer {
    position: relative;
    max-width: 1070px;
    margin: 92px auto 0;
  }
  .accordion-item {
    margin-bottom: 50px;
    padding-bottom: 26px;
    cursor: pointer;
    border-bottom: 1px solid $white;
    &:last-child {
      border: none;
    }
    &.active {
      h3 {
        &:after {
          transform: rotate(-135deg);
          border-width: 0 3px 3px 0;
        }
      }
    }
  }
  h3 {
    position: relative;
    color: $white;
    padding-right: 40px;
    font-size: 35px;
    line-height: 0.91;
    letter-spacing: 1.4px;
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 0;
      width: 15px;
      height: 15px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      transition: top 0.3s ease-in-out, transform 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
    }
    @include desktop {
      font-size: 30px;
    }
    @include tablet {
      font-size: 24px;
      line-height: 1.08;
    }
    @include tablet-down {
      font-size: 24px;
      line-height: 1.08;
    }
  }
  p {
    color: $white;
    padding-bottom: 30px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .pannel {
    display: none;
    padding: 18px 0 15px 0;
  }
  h2 {
    color: $white;
    text-align: center;
    margin-top: 22px;
  }
}
