.cards-with-content {
  .inner-text {
    span{
      font-size: 14px;
      color: white;
    }
    margin-bottom: 30px;
    h2{
      color: white;
      margin-top: 20px;
    }
  }
  .card-wrap {
    width: calc(100% + 30px);
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    @include phablet-down{
      width: 100%;
      margin: auto;
      display: block;
    }
  }
  .card-box {
    position: relative;
    margin: 0 15px 20px;
    width: calc(33.33% - 30px);
    background-color: white;
    padding: 35px;
    border-radius: 8px;
    @include tablet{
      padding: 25px;
    }
    @include phablet{
      width: calc(50% - 30px);
      padding: 20px;
    }
    @include phablet-down{
      width: 100%;
      margin: 20px auto;
    }
    .quote{
      p{
        //&::before{
        //  content: '“';
        //  position: absolute;
        //  width: 54px;
        //  height: 40px;
        //  bottom: 108px;
        //  right: 29px;
        //  font-size: 170px;
        //  line-height: 0.29;
        //  transform: rotate(180deg);
        //}
      }
    }
    >a{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  .user-detail{
    display: inline-flex;
    margin-top: 20px;
    .icon-wrap{
      max-width: 50px;
      max-height: 50px;
      overflow: hidden;
      margin-right: 25px;
      border-radius: 50%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .user-intro{
      span{
        font-size: 14px;
      }
    }
  }
}