.col-with-location{
  padding: 0;
  .gmap_iframe{
    width: 100%;
    min-height: 600px;
    @include tablet{
      min-height: 300px;
    }
    @include tablet-down{
      min-height: 200px;
    }
  }
}