.block-grid{
  background-color: #141b4d;
  .outer-wrap{
    width: calc(100% + 40px);
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include phablet-down{
      display: block;
      width: 100%;
      margin: auto;
    }
    .item-wrap{
      width: calc(50% - 40px);
      margin: 0 20px;
      @include phablet-down{
        width: 100%;
        margin: auto;
        padding-bottom: 10px;
      }
      h3{
        color: #ff6900;
        margin-bottom: 20px;
      }
      p{
        color: #ffff;
        margin-bottom: 20px;
      }
    }
  }
}