.statistics{
  background-color: black;
  h2{
    text-align: center;
    color: white;
  }
  .counter-wrap{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-left: -15px;
    justify-content: center;
    @include phablet-down{
      width: 100%;
      display: block;
      margin: auto;
    }
    .counter-item{
      margin: 40px 15px 20px;
      width: calc(33.33% - 30px);
      text-align: center;
      @include phablet{
        margin: 40px 15px 20px;
        width: calc(50% - 30px);
      }
      @include phablet-down{
        width: 100%;
        margin: auto;
      }
      p{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.72px;
        text-align: center;
        color: #fff;
        padding: 20px 15px;
      }
        .inner-content{
          .text-wrap{
            font-size: 76px;
            font-weight: normal;
            color: #f50057;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.05;
            letter-spacing: 2.28px;
            text-align: center;
          }
          span{
            font-size: 76px;
            font-weight: normal;
            color: #f50057;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.05;
            letter-spacing: 2.28px;
            text-align: center;
          }
        }
    }
  }
}