.hero-banner {
  .video-wrapper {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .banner-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .row {
    align-items: center;
    padding: 90px 0 73px;
    min-height: 600px;
    @include tablet {
      padding: 34px 0 55px;
      min-height: 450px;
    }
    @include phablet-down {
      padding: 79px 0 84px;
    }
    @include tablet-down{
      min-height: 350px;
    }
  }
  .row-wrap {
  }
  .content-wrap {
    flex: 0 0 50%;
    max-width: 630px;
    min-height: 430px;
    background: #3498DB;
    padding: 52px 65px 60px;
    position: relative;
    opacity: 0.85;
    position: relative;
    z-index: 2;
    @include tablet {
      padding: 42px 49px 25px;
      max-width: 473px;
      min-height: 322px;
      margin-left: 46px;
    }
    @include phablet-down {
      flex: 0 0 100%;
      margin-left: 0;
      background: transparent;
      padding: 0;
      min-height: 275px;
    }
    @include tablet {
      padding: 42px 30px 26px;
    }
    h1 {
      color: #FFFFFF;
      @include tablet {
        font-size: 45px;
      }
      span {

      }
    }
    p {
      max-width: 500px;
      margin-top: 27px;
      color:#FFFFFF;
      @include tablet {
        max-width: 360px;
        margin-top: 14px;
      }
      @include phablet-down {
        max-width: 266px;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 15px;
      }
    }
    .btn-wrap {
      display: inline-block;
      margin-top: 27px;
      a {
        padding-right: 25px;
      }
      @include tablet {
        margin-top: 10px;
      }
      @include phablet-down {
        margin-top: 12px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -38px;
      left: -45px;
      max-width: 330px;
      max-height: 333px;
      width: 100%;
      height: 100%;
      background: url("/themes/trs/templates/dist/images/hero-banner/left-triangle-pattern.svg")
      no-repeat;
      background-size: 100%;
      z-index: -1;
      @include tablet {
        bottom: -25px;
        left: -35px;
        width: 250px;
        height: 250px;
      }
      @include phablet-down {
        display: none;
      }
    }
  }
  .play-icon-wrap {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .banner-video-overlay {
    display: none;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 20px 60px;
    text-align: center;
    @include tablet-down {
      padding: 50px;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
    }
    .close-btn {
      display: block;
      position: absolute;
      right: 30px;
      top: 20px;
      width: 33px;
      height: 33px;
      cursor: pointer;
      z-index: 1;
      &::after,
      &::before {
        background-color: #FFFFFF;
        border-radius: 4px;
        content: "";
        display: block;
        position: absolute;
        height: 33.35px;
        width: 2px;
        left: 50%;
        opacity: 0.9;
      }
      &::after {
        transform: rotate(-45deg);
      }
      &::before {
        transform: rotate(45deg);
      }
      @include tablet {
        right: 20px;
      }
      @include tablet-down {
        top: 20px;
        right: 30px;
      }
    }
    iframe {
      width: 100%;
      height: 100%;
      max-width: 1400px;
      margin: auto;
      border: 0;
      position: relative;
    }
    &.active {
      display: block;
    }
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3498DB;
    opacity: 0.85;
  }
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &.blue-wrap {
    &::after {
      @include phablet-down {
        display: none;
      }
    }
    .content-wrap {
      min-height: 375px;
      padding: 52px 50px 50px 65px;
      @include tablet {
        padding: 42px 49px 25px;
        max-width: 473px;
        min-height: 322px;
        margin-left: 46px;
      }
      @include phablet-down {
        flex: 0 0 100%;
        margin-left: 0;
        background: transparent;
        padding: 0 !important;
      }
      @include tablet {
        padding: 42px 30px 26px;
      }
      @media (max-width: 1200px) {
        padding: 42px 49px 25px;
        min-height: 281px;
      }
      @include phablet-down {
        background: #3498DB;
        min-height: 400px;
        padding: 23px !important;
      }
      h1 {
        @include phablet-down {
          font-size: 35px;
        }
      }
      p {
        max-width: 100%;
        @include phablet-down {
          margin-bottom: 80px;
        }
      }
    }
  }
}
//Play-icon
.play-icon {
  cursor: pointer;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: block;
  transition: transform 0.3s ease-in-out;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url('/ajayverma/templates/assets/images/play_icon.png') no-repeat center;
    background-size: cover;
  }
  &:hover {
    transform: scale(1.3);
  }
  @include tablet {
    max-width: 61px;
    max-height: 61px;
  }
}
.no-padding-top{
  padding: 0;
}