.intro-section{
  background-color: #132D43;
  .content-wrap{
    text-align: center;
    max-width: 900px;
    margin: auto;
    .icon-wrap{
      margin-bottom: 15px;
      li{
        max-width: 55px;
        max-height: 55px;
        list-style: none;
        margin: 0 5px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    h3{
      color: white;
      text-transform: uppercase;
    }
    p{
      color: white;
      padding-top: 10px;
    }
  }
}