.intro-with-col-two {
  .intro-wrap {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
    @include phablet {
      padding-bottom: 70px;
    }
    @include phablet-down {
      padding-bottom: 50px;
    }
    h2 {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 0.6px;
      color: #00395b;
    }
    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #000;
      padding-top: 30px;
    }
  }
  .outer-wrap {
    opacity: 0;
    @include tablet-down {
      text-align: center;
    }
    .item:nth-child(2) {
      border-left: 2px solid #b3c205;
    }
    .inner-wrap {
      width: calc(100% + 30px);
      margin-left: -15px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
      text-align: left;
      @include phablet {
        width: calc(100% + 20px);
        margin-left: -10px;
      }
      @include phablet-down {
        width: 100%;
        margin: auto;
        display: block;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        width: calc(50% - 30px);
        margin: 0 15px;
        display: flex;
        align-items: center;
        @include phablet {
          width: 100%;
          margin: 0 10px 25px;
        }
        @include phablet-down {
          width: 100%;
          margin: 20px auto;
        }
        .content-wrap {
          position: relative;
          background: #004c7a;
          padding: 40px;
          border-radius: 3px 0 0 3px;
          color: #fff !important;
          max-width: 500px;
          text-align: left;
          @include desktop{
            max-width: 310px;
            padding: 20px;
          }
          @include tablet{
            padding: 15px;
            max-width: 260px;
          }
          @include tablet-down {
            max-width: 100%;
            padding: 20px;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 50%;
            background: #004c7a;
            z-index: -1;
            top: 50%;
            -webkit-transform: skewX(45deg);
            -o-transform: skewX(45deg);
            transform: skewX(142deg);
            -webkit-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: bottom left;
            @include tablet-down {
              display: none;
            }
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 50%;
            background: #004c7a;
            z-index: -1;
            top: 1px;
            -webkit-transform: skewX(-45deg);
            -o-transform: skewX(-45deg);
            transform: skewX(38deg);
            -webkit-transform-origin: bottom left;
            -o-transform-origin: bottom left;
            transform-origin: top left;
            @include tablet-down {
              display: none;
            }
          }
          h3 {
            font-size: 18px;
            color: #fff;
            line-height: 1.67;
            letter-spacing: normal;

            @include desktop-down{
              font-size: 14px;
            }
          }
          p {
            font-size: 18px;
            color: #fff;
            line-height: 1.67;
            letter-spacing: normal;
            @include desktop-down{
              font-size: 16px;
            }
          }
          span {

          }
        }
        .intro {
          position: relative;
          padding-left: 60px;
          @include tablet-down {
            padding-left: 30px;
          }
          h3 {
            font-size: 18px;
            color: #000;
            line-height: 1.67;
            letter-spacing: normal;
            @include desktop-down{
              font-size: 14px;
            }
          }
          p {
            font-size: 18px;
            color: #000;
            line-height: 1.67;
            letter-spacing: normal;
            @include desktop-down{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .slick-arrow {
    display: none;
  }

  .slick-next {
    text-indent: 100px;
    overflow: hidden;
    height: 38px;
    width: 23px;
    position: absolute;
    top: 25%;
    right: -32px;
    background-size: cover;
    transform: rotate(180deg);
    z-index: 2;
    cursor: pointer;
    outline: none;
    transition: opacity 0.2s ease-in-out;
    display: none;
    opacity: 0;

    @media (max-width: 1400px) {
      right: 5px !important;
    }

    @include phablet-down {
      right: -9px !important;
      top: 20%;
    }

    @include tablet-down {
      height: 30px;
      width: 18px;
    }
  }

  .slick-prev {
    text-indent: 100px;
    overflow: hidden;
    height: 38px;
    width: 23px;
    position: absolute;
    top: 25%;
    left: -36px;
    background-size: cover;
    z-index: 2;
    cursor: pointer;
    outline: none;
    transition: opacity 0.2s ease-in-out;
    display: none;
    opacity: 0;

    @media (max-width: 1400px) {
      left: 5px !important;
    }

    @include phablet-down {
      left: -9px !important;
      top: 20%;
    }

    @include tablet-down {
      height: 30px;
      width: 18px;
    }
  }

  .slick-dots {
    margin: 8px auto 0;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    display: none !important;

    @include tablet-down {
      margin: 10px auto 0;
      display: inline-flex !important;
    }

    li {
      margin: 5px 3px 0;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: transparent;
      border: solid 2px $red;
      padding-left: 10px;

      @include phablet-down {
        margin: 5px 6px 0;
      }

      &:before {
        display: none !important;
      }

      button {
        display: none;
        font-size: 0;
      }
    }

    .slick-active {
      border: solid 1px $red;
      background-color: $red;
    }
  }
}