.intro-with-list{
  .intro{
    margin-bottom: 30px;
    h3{
      color: #151e28;
    }
    p{
      color: #435363;
      margin-top: 20px;
    }
  }
  .list-wrap{
    width: calc(100% + 30px);
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    @include phablet-down{
      width: 100%;
      margin: auto;
      display: block;
    }
    .list{
      margin: 0 15px;
      width: calc(33.33% - 30px);
      @include  phablet{
        width: calc(50% - 30px);
      }
      @include phablet-down{
        width: 100%;
        margin: auto;
      }
    }
  }
}