.footer {
  background-color: #143440;

  .login-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: 595px) {
      display: block;
    }

    .admin-wrap {
      display: flex;
      align-items: center;
      margin-right: 60px;

      @media screen and (max-width: 595px) {
        justify-content: center;
        margin-right: 0;
        margin-bottom: 15px;
      }

      .icon-wrap {
        position: relative;
        max-width: 18px;
        overflow: hidden;
        height: 19px;
        z-index: 2;
        width: 100%;
        display: inline-block;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .admin-content {
        margin-left: 20px;

        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 19.2px;
          color: #fff;
        }
      }
    }

    .support-wrap {
      display: flex;
      align-items: center;

      @media screen and (max-width: 595px) {
        justify-content: center;
        margin-right: 0;
      }

      .icon-wrap {
        position: relative;
        max-width: 18px;
        overflow: hidden;
        height: 19px;
        z-index: 2;
        width: 100%;
        display: inline-block;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .support-content {
        margin-left: 20px;

        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 19.2px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .outer-wrap {
    border-top: 1px solid #5a7179;
    margin-top: 70px;
    padding-top: 70px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #5a7179;
    padding-bottom: 130px;

    @media screen and (max-width: 595px) {
      text-align: center;
      padding-bottom: 70px;
    }

    @media screen and (max-width: 991px) {
      display: block;
    }

    .left-item {
      width: 35%;

      @media screen and (max-width: 595px) {
        text-align: center;
      }

      @media screen and (max-width: 991px) {
        width: 100%;
      }

      .company-logo {
        position: relative;
        max-width: 197px;
        overflow: hidden;
        height: 30px;
        z-index: 2;
        width: 100%;
        display: inline-block;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .social-icon {
        >a {
          display: inline-block;
          max-width: 18px;
          height: 18px;
          margin-top: 25px;
          margin-right: 25px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .btn-wrap {
        .btn-green {
          background-color: #457537;
          padding: 12px 40px;
          border-radius: 30px;
          margin-top: 25px;
          display: inline-block;
          color: #fff;
          font-size: 16px;
          transition: all 0.3s ease-in-out;

          &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            position: relative;
            transform: translateX(0);
            transition: all 0.3s ease-in-out;
            background: url("/ajayverma/templates/assets/images/rhodes-arrow-icon.svg") no-repeat;
            width: 20px;
            height: 8px;
            left: 10px;
          }

          &:hover {

            // background-color: #133440;
            &::after {
              left: 14px;
            }
          }
        }
      }

      .location-wrap {
        display: flex;
        margin-top: 25px;

        @media screen and (max-width: 595px) {
          justify-content: center;
        }

        .icon-wrap {
          position: relative;
          max-width: 18px;
          overflow: hidden;
          height: 19px;
          z-index: 2;
          width: 100%;
          display: inline-block;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .location-content {
          margin-left: 20px;

          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      .contact-wrap {
        display: inline-flex;
        margin-top: 25px;
        align-items: center;

        .icon-wrap {
          position: relative;
          max-width: 18px;
          overflow: hidden;
          height: 19px;
          z-index: 2;
          width: 100%;
          display: inline-block;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .contact-content {
          margin-left: 20px;

          >a {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            color: rgba(255, 255, 255, 1);
            transition: color 0.5s ease;
          }
        }

        &:hover {
          a {
            color: #457537;
          }
        }
      }

      .mail-wrap {
        display: flex;
        padding-top: 25px;
        max-width: 243px;
        align-items: center;

        @media screen and (max-width: 595px) {
          justify-content: center;
          margin: auto;
        }

        .icon-wrap {
          position: relative;
          max-width: 18px;
          overflow: hidden;
          height: 19px;
          z-index: 2;
          width: 100%;
          display: inline-block;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .mail-content {
          margin-left: 20px;

          >a {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            color: rgba(255, 255, 255, 1);
            transition: color 0.5s ease;
          }
        }

        &:hover {
          a {
            color: #457537;
          }
        }
      }
    }

    .right-item {
      width: 65%;

      @media screen and (max-width: 595px) {
        width: 100%;
        margin-top: 25px;
      }

      @media screen and (max-width: 991px) and (min-width: 596px) {
        width: 100%;
        margin-top: 50px;
      }

      .content-inner-wrap {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
          width: 100%;
          display: block;
        }

        .item {
          width: 20%;
          padding-right: 20px;

          @media screen and (max-width: 767px) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &:last-child {
            padding-right: 0;
          }

          .title {
            margin-bottom: 40px;

            @media screen and (max-width: 767px) {
              margin-bottom: 18px;
            }

            >a {
              font-size: 16px;
              font-weight: 700;
              line-height: 19.2px;
              text-align: left;
              color: #fff;
              transition: color 0.5s ease;

              &:hover {
                color: #457537;
              }
            }
          }

          .list-item {
            li {
              list-style: none;
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 0;
              }

              >a {
                color: rgba(255, 255, 255, 1);
                opacity: 0.7;
                transition: color 0.5s ease;

                &:hover {
                  color: #457537;
                }
              }
            }
          }

          &:nth-child(4) {
            .title {
              margin-bottom: 18px;
            }
          }
        }
      }
    }
  }

  .copyright-content-wrap {
    margin-top: 30px;
    display: flex;
    width: 100%;

    @media screen and (max-width: 767px) {
      display: block;
    }

    .copyright-content {
      width: 55%;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: left;
        color: rgba(255, 255, 255, 1);

        @media screen and (max-width: 595px) {
          text-align: center;
        }
      }
    }

    .privacy-item {
      width: 45%;
      text-align: right;

      @media screen and (max-width: 767px) and (min-width: 596px) {
        text-align: left;
        width: 100%;
      }

      @media screen and (max-width: 595px) {
        text-align: center;
        width: 100%;
      }

      .list-item {
        display: inline-flex;

        @media screen and (max-width: 595px) {
          display: block;
        }

        li {
          list-style: none;
          margin-right: 25px;

          @media screen and (max-width: 595px) {
            margin-right: 0;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          >a {
            color: #fff;
            opacity: 0.7;
            transition: color 0.5s ease;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.new-logo-slider {
  padding: 0;

  .container {
    overflow: hidden;
  }

  .logo-grid-slider {
    position: relative;
    display: flex;
    height: 155px;
    align-items: center;
    justify-content: center;

    .item {
      position: absolute;
      max-width: 300px;
      width: 100%;

      @media screen and (min-width: 3000px) {
        max-width: 450px;
      }

      @include phone-down {
        max-width: 180px;
      }

      .logo-wrap {
        position: relative;
        max-width: 145px;
        height: 50px;
        z-index: 2;
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.intro-with-circle-tab {
  padding-bottom: 0;
  overflow: visible;

  .content-wrap {
    text-align: center;
    padding-bottom: 70px;
    max-width: 1000px;
    margin: auto;

    @include desktop-down {
      padding-bottom: 50px;
    }

    h3 {
      position: relative;
      font-weight: 700;
      color: #000;
      padding-bottom: 50px;

      @media screen and (min-width: 992px) {
        font-size: 48px;
      }

      &:after {
        content: "";
        position: absolute;
        width: 46px;
        height: 3px;
        background-color: #457537;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 23.4px;
      text-align: center;
      color: #000;
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .img-tabs-wrap {
    .bg-img {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: visible;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .poi-right {
      height: 0;
      position: absolute;
      width: 0;

      .dot {
        position: relative;
        color: #fff;
        font-size: 0;
        left: -2vw;
        margin: 0;
        top: -2vw;
        transform: scale(0.5);
        transition: all 0.5s ease;
        background: #fff;
        border-radius: 50% !important;
        height: 4vw;
        padding: 0;
        width: 4vw;
        z-index: 1;

        &::after {
          animation: cd-pulse 2s infinite;
          border-radius: 50%;
          box-shadow: 0 0 5px 5px hsla(0, 0%, 100%, 0.8);
          content: "";
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

        @keyframes cd-pulse {
          0% {
            box-shadow: 0 0 5px 5px hsla(0, 0%, 100%, 0.8);
            transform: scale(1);
          }

          50% {
            box-shadow: 0 0 10px 10px hsla(0, 0%, 100%, 0.8);
            opacity: 1;
          }

          100% {
            box-shadow: 0 0 5px 5px hsla(0, 0%, 100%, 0);
            opacity: 1;
            transform: scale(1.5);
          }
        }
      }

      .detail {
        position: relative;
        background: rgba(19, 52, 64, 1);
        color: #fff;
        line-height: inherit;
        min-width: 16vw;
        padding: 30px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%) scale(0, 0.5);
        transform-origin: top center;
        transition: all 0.75s ease;
        border-top: 6px solid #457537;
        z-index: 4;

        @include desktop {
          min-width: 30vw;
        }

        @include tablet {
          min-width: 40vw;
        }

        @include phablet {
          min-width: 35vw;
        }

        @include phablet-down {
          min-width: 48vw;
        }

        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 23.4px;
          text-align: left;
          color: #fff;

          span {
            font-size: 18px;
            font-weight: 400;
            line-height: 23.4px;
            text-align: left;
            color: #fff;
            font-weight: 700;
          }
        }

        .icon-wrap {
          position: relative;
          max-width: 162px;
          overflow: hidden;
          height: auto;
          width: 100%;
          display: inline-block;
          margin-bottom: 18px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &:hover {
        .dot {
          transform: scale(1);

          &::after {
            visibility: hidden;
          }
        }

        .detail {
          transform: translateX(50%) scale(1);
        }
      }
    }
  }
}

.tab-slider-img {
  .tabs-outer {
    position: relative;

    .link-outer {
      position: absolute;
      bottom: 54px;
      left: 30px;
      z-index: 3;
      display: flex;
      height: 100%;
      align-items: end;

      .tabs-wrap {
        .tab-box {
          position: relative;
          left: 80px;

          span {
            position: relative;
            color: white;
            display: inline-block;
            margin-bottom: 20px;
            opacity: 0.6;
          }

          &.slick-current {
            span {
              color: #fff;
              opacity: 1;
              left: -45px;
            }
          }

          &:last-child {
            .tab-box {
              span {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .content-outer {
      .tab-content {
        .img-wrap {
          .bg-img {
            height: 646px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.xyz {
  .checkbox-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;

    input[type="checkbox"] {
      width: calc(18px + 2px);
      height: calc(18px + 2px);
      position: absolute;
      top: 50%;
      left: 1px;
      opacity: 0;
      cursor: pointer;
      z-index: 100;
      transform: translateY(-50%);

      +.checkmark,
      +label {
        min-width: calc(18px + 2px);
        min-height: calc(18px + 2px);
        display: inline-flex;
        align-items: center;
        position: relative;
        font-size: 18px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: $light_gray;
        text-align: left;

        &::before {
          content: "";
          width: 18px;
          height: 18px;
          border: 1px solid #000050;
          background-color: transparent;
          position: absolute;
          left: 0;
          transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
        }
      }

      +label {
        padding-left: 30px;
        font-size: 18px;
        font-weight: normal;

        @include tablet-down {
          font-size: 15px;
        }
      }

      // Pressed state
      // &.pressed {
      //   +.checkmark::after,
      //   +label::after {
      //     content: "";
      //     position: absolute;
      //     top: -10px; // Adjust as needed
      //     left: -16px;
      //     width: 50px;
      //     height: 50px;
      //     background: url('/ajayverma/templates/assets/images/enable-checkbox.svg') no-repeat center;
      //     background-size: contain;
      //     z-index: 90; // Ensure the image is above the checkbox
      //     opacity: 1; // Full opacity when pressed
      //   }
      // }

      // Checked state
      &:checked {

        +.checkmark,
        +label {
          &::after {
            content: "";
            width: 10px;
            height: 9px;
            background: url("/ajayverma/templates/assets/images/checkmark-tick-black.svg") no-repeat center;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
          }

          &::before {
            background-color: #0000ff; // Background color when checked
            border-color: #0000ff; // Border color when checked
          }
        }

        &.enabled,
        &.disabled {

          +.checkmark,
          +label {
            &::before {
              background-color: #000050; // Background color when checked and enabled/disabled
              border-color: #000050; // Border color when checked and enabled/disabled
            }
          }
        }
      }

      // Hover state
      &:hover {

        +.checkmark,
        +label {
          &::before {
            border: 1px solid #0000ff; // Blue border on hover
            background-color: transparent; // Transparent background on hover
          }
        }

        &.enabled,
        &.disabled {

          +.checkmark,
          +label {
            &::before {
              border: 1px solid #0000ff; // Blue border on hover when enabled/disabled
              background-color: transparent; // Transparent background on hover when enabled/disabled
            }
          }
        }

        &:checked {

          +.checkmark,
          +label {
            &::before {
              background-color: #0000ff; // Background color when checked and hovered
              border-color: #0000ff; // Maintain the hover border color
            }
          }

          &.enabled,
          &.disabled {

            +.checkmark,
            +label {
              &::before {
                background-color: transparent; // Background color when checked, hovered, and enabled/disabled
                border-color: #0000ff; // Maintain the hover border color
              }
            }
          }
        }
      }

      // Enabled/Disabled Unselected
      &.enabled,
      &.disabled {

        +.checkmark,
        +label {
          &::before {
            background-color: transparent; // Background color when enabled/disabled but not checked
            border-color: #000050; // Border color when enabled/disabled but not checked
          }
        }
      }

      // Disabled Unselected and Checked
      &:disabled {

        +.checkmark,
        +label {
          cursor: not-allowed;

          &::before {
            background-color: transparent; // Background color when disabled and unchecked
            border-color: #000050; // Border color when disabled and unchecked
          }
        }

        &:checked {

          +.checkmark,
          +label {
            &::before {
              background-color: green; // Background color when disabled and checked
              border-color: green; // Border color when disabled and checked
            }
          }
        }
      }
    }

    &:active,
    &:focus-within {

      +.checkmark::before,
      +label::before {
        box-shadow: 0 0 10px 10px #989898; // Shadow effect on click
        opacity: 1; // Full opacity on click
      }
    }
  }
}

.tab-with-video {
  .tab-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    padding-top: 54px;

    @include desktop-down {
      padding: 0;
    }

    @include phablet-down {
      padding: 0;
    }

    .tab {
      display: flex;
      justify-content: center;
      gap: 56px;

      h6 {
        color: #000;
        text-transform: uppercase;
        padding-bottom: 13px;
        border-bottom: 2px solid $white;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        // @include large-desktop {
        //   letter-spacing: 1px;
        //   line-height: 20px;
        // }

        @include desktop-down {
          display: none;
        }

        &.active {
          color: red;
          border-bottom: 2px solid red;
        }

        &:hover {
          color: red;
          border-bottom: 2px solid red;
        }
      }
    }

    .open {
      display: none;
      position: relative;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
      padding: 20px 24px;
      outline: none;
      border: none;
      min-height: 58px;
      text-align: left;
      // border-radius: 20px;
      background-color: #000;
      transition: all 0.2s ease-in-out;

      @include desktop-down {
        display: block;
      }

      &:after {
        @include desktop-down {
          content: "";
          position: absolute;
          display: block;
          top: 50%;
          bottom: 0;
          right: 25px;
          width: 18px;
          height: 12px;
          background: url("/ajayverma/templates/assets/images/open-nav-new.svg");
          background-size: 100%;
          background-repeat: no-repeat;
          transform: translateY(-50%);
          transition: transform 0.2s linear, -webkit-transform 0.2s linear,
            -o-transform 0.2s linear;
        }
      }

      &.active {
        &:after {
          transform: translateY(-50%) rotate(-179deg);
        }
      }
    }

    .mobile-view {
      display: none;
      position: absolute;
      max-width: 100%;
      width: 100%;
      right: 0;
      height: auto;
      overflow-x: hidden;
      overflow-y: scroll;
      opacity: 1;
      top: 98px;
      left: 0;
      margin: 0 auto;
      background: black;
      z-index: 4;

      .tab-wrap {
        padding: 20px 24px;

        h6 {
          color: #fff;
          margin-bottom: 35px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            color: red;
          }

          &.active {
            color: red;
          }
        }
      }

      &.active {
        display: block;

        @include desktop-down {
          width: 100%;
          margin: 0 auto;
        }
      }

      @include desktop-down {
        display: none;
      }
    }

    span {
      color: red;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;

      @include tablet-down {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  .tab-content {
    width: 100%;
    // max-width: 1608px;
    // margin: 40px auto 0;

    // @include laptop {
    //   height: 580px;
    // }

    @include desktop {
      height: 580px;
    }

    @include desktop-down {
      height: auto;
    }

    .bg-img {
      height: 660px;
      width: 100%;
      margin-top: 60px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .active {
      display: inline-block;
    }
  }

  .outer-wrap {
    margin-top: 60px;
  }

  .inner-content {
    width: 100%;
    display: none;
    text-align: center;

    h3 {
      position: relative;
      font-weight: 700;
      color: #000;
      font-size: 30px;
      max-width: 1000px;
      margin: auto;
    }

    p {
      position: relative;
      font-weight: 400;
      color: #000;
      font-size: 20px;
      padding-top: 20px;
      max-width: 1000px;
      margin: auto;
    }
  }
}

.intro-with-tab {
  overflow: visible;

  @media screen and (max-width: 991px) {
    background: #457537;
  }

  .row {
    width: auto;
    display: flex;
    margin-top: 50px;
    background: #457537;
    margin-top: 50px;
    padding: 100px 60px;
    align-items: center;

    @media screen and (max-width: 991px) {
      display: block;
      width: auto;
      padding: 0 30px;
      margin-top: 0;
    }

    button {
      display: none;
      position: relative;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
      padding: 13px 22px;
      outline: none;
      border: none;
      min-height: 58px;
      text-align: left;
      border-radius: 20px;
      background: #fff;

      @media screen and (max-width: 991px) {
        display: block;
      }

      @media screen and (max-width: 767px) {
        padding: 20px 24px;
      }

      span {
        color: #000;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
          font-size: 18px;
          line-height: 18px;
        }
      }

      &.open {
        &:after {
          @media screen and (max-width: 991px) {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            bottom: 0;
            right: 25px;
            width: 18px;
            height: 12px;
            background: url("/ajayverma/templates/assets/images/down-arrow.png");
            background-size: 100%;
            background-repeat: no-repeat;
            transform: translateY(-50%);
            transition: transform 0.2s linear, -webkit-transform 0.2s linear,
              -o-transform 0.2s linear;
          }
        }
      }

      &.active {
        &:after {
          transform: translateY(-50%) rotate(-179deg);
        }
      }

      .cover {
        @media screen and (max-width: 991px) {
          display: flex;
          min-width: 200px;
          margin: 0 auto;
          align-items: center;
          padding: 0 24px;
          flex-wrap: wrap;
        }
      }
    }
  }

  .content-wrap {
    width: 50%;
    height: 100%;
    background: #457537;
    padding-right: 18px;

    @media screen and (max-width: 991px) {
      position: absolute;
      max-width: 100%;
      width: 100%;
      height: auto;
      overflow-x: hidden;
      overflow-y: scroll;
      opacity: 0;
      left: 0;

      &.active {
        opacity: 1;
        z-index: 2;
        overflow: hidden;
      }
    }

    &.current-item {
      @media screen and (max-width: 991px) {
        display: block;
      }
    }

    .tab-div {
      display: block;

      @media screen and (max-width: 991px) {
        padding: 25px 40px;
      }
    }

    .arrow-wrap {
      position: relative;
      padding: 1px 35px 0 0;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 800;

      &:hover {
        color: blue;
      }

      h6 {
        font-size: 36px;
        font-weight: 700;
        line-height: 43.2px;
        color: #fff;

        @media screen and (max-width: 991px) {
          font-weight: bold;
          padding-left: 16px;
          font-size: 14px;
          text-align: left;
          color: #fff;
          font-size: 25px;
        }
      }
    }

    &.active {
      display: block;
    }
  }

  .text-wrapper {
    position: relative;
    margin-bottom: 50px;
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;

    @media screen and (max-width: 991px) {
      margin-bottom: 35px;
    }

    &:first-child {
      margin-bottom: 50px;

      @media screen and (max-width: 991px) {
        margin-bottom: 35px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .inner-wrapper {
      position: relative;
      display: none;
      height: 0;
      overflow: hidden;

      @media screen and (max-width: 991px) {
        display: none !important;
      }

      &.hide {
        display: none !important;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.4px;
        letter-spacing: 0.01em;
        color: #fff;
      }

      &.remove {
        @media screen and (max-width: 991px) {
          display: none !important;
        }
      }
    }

    &.active {
      h6 {
        color: #fff;
      }
    }

    &:last-child {
      border: 0;
      padding-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 46px;
      bottom: 0;
      right: 25px;
      width: 18px;
      height: 12px;
      background: url("/ajayverma/templates/assets/images/open-nav-new.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      transition: transform 0.2s linear, -webkit-transform 0.2s linear,
        -o-transform 0.2s linear;

      @media screen and (max-width: 991px) {
        opacity: 0;
      }
    }

    &.active {
      &:after {
        transform: translateY(-50%) rotate(-179deg);
      }
    }
  }

  .heading {
    &.hide {
      @media screen and (max-width: 991px) {
        display: none !important;
      }
    }
  }

  .tab-text {
    width: 50%;

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  .img-wrap {
    width: 0;
    height: 0;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.active {
      height: 557px;
      width: 100%;

      @include tablet-down {
        height: 335px;
      }
    }
  }

  .content {
    margin-top: 20px;

    @media screen and (min-width: 992px) {
      display: none;
    }

    @media screen and (max-width: 991px) {
      max-width: 515px;
      margin-bottom: 30px;
    }

    h6 {
      font-size: 22px;
      color: #fff;
      font-weight: 800;
    }

    p {
      margin-top: 20px;
      color: #fff;
    }
  }

  &.tbs-op2 {
    @media screen and (max-width: 991px) {
      background-color: #fff;
    }

    .row {
      margin-top: 0;
      padding: 0;
      margin: 0;
      background-color: #fff;

      .open {
        background: #f9f9f9;
      }

      .content-wrap {
        background-color: #fff;

        @media screen and (max-width: 991px) {
          padding-right: 0;
        }

        .tab-div {
          .text-wrapper {
            margin-bottom: 100px;
            padding-bottom: 0;

            @include desktop {
              margin-bottom: 50px;
            }

            @media screen and (max-width: 991px) {
              margin-bottom: 30px;
            }

            .arrow-wrap {
              h6 {
                color: #0000004d;

                @include desktop {
                  font-size: 26px;
                }
              }
            }

            .inner-wrapper {
              p {
                color: #000;
                max-width: 500px;
              }
            }

            &.active {
              padding-left: 20px;
              border-left: 5px solid #457537;

              @media screen and (max-width: 991px) {
                padding-left: 0;
              }

              .arrow-wrap {
                h6 {
                  color: #000;
                }
              }
            }
          }
        }
      }

      .content {
        h6 {
          color: #000;
        }

        p {
          color: #000;
        }
      }
    }
  }

  &.tbs-op3 {
    background-color: #fff;

    .row {
      background-color: #fff;

      .open {
        background: #f9f9f9;
      }

      .content-wrap {
        background-color: #fff;
        padding-right: 40px;

        @media screen and (max-width: 991px) {
          border-right: 0;
        }

        .tab-div {
          border-right: 2px solid #00000033;

          @media screen and (max-width: 991px) {
            border-right: 0;
          }

          .text-wrapper {
            margin-bottom: 100px;
            padding-bottom: 0;

            @media screen and (max-width: 991px) {
              margin-bottom: 30px;
            }

            .arrow-wrap {
              h6 {
                color: #0000004d;
              }
            }

            .inner-wrapper {
              p {
                color: #000;
                max-width: 500px;
              }
            }

            &.active {
              border-right: 5px solid #457537;

              @media screen and (max-width: 991px) {
                border-right: 0;
              }

              .arrow-wrap {
                h6 {
                  color: #000;
                }
              }
            }
          }
        }
      }

      .content {
        h6 {
          color: #000;
        }

        p {
          color: #000;
        }
      }
    }
  }
}

.sticky-bar {
  height: 85px;
  position: relative;
  padding: 0;

  @media screen and (max-width: 991px) {
    overflow: visible;
  }

  .content-wrapper {
    position: relative;
    padding: 32px 0;
    width: 100%;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: left;
    text-align: left;
    margin: auto;
    max-width: 1368px;

    ul {
      padding: 0;
      text-align: center;

      @media screen and (max-width: 991px) {
        text-align: left;
        position: absolute;
        top: 89px;
        background-color: #457537;
        width: 100%;
        text-align: left;
        padding: 15px 20px;
        z-index: 9999;
        opacity: 0;
        display: none;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        display: block;
        opacity: 1;
        top: auto;
      }

      li {
        width: auto;
        display: inline-block;
        cursor: pointer;
        padding: 0 75px 0 0;

        &:last-child {
          padding-right: 0;
        }

        @media screen and (max-width: 991px) {
          padding: 0 30px 0 0;
          display: block;
          margin-bottom: 15px;
        }

        a {
          position: relative;
          font-size: 18px;
          font-weight: 700;
          color: #000;
          cursor: pointer;
          padding-bottom: 21px;
          text-transform: capitalize;

          @media screen and (max-width: 991px) {
            color: #fff;
            display: block;

            &:last-child {
              padding-bottom: 0;
            }

            &::after {
              opacity: 0;
            }
          }

          &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            height: 3px;
            width: 0;
            background-color: #457545;
            transition: width 0.3s ease-in;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }

        &.active a {
          color: #457545;

          @media screen and (max-width: 991px) {
            color: #fff;
          }

          &:after {
            width: 100%;
          }
        }
      }

      .title {
        font-size: 24px;
        color: #000;
        font-weight: 700;
        display: inline-block;
        padding-right: 55px;

        @media screen and (max-width: 991px) {
          padding-right: 0;
          font-size: 20px;
          margin-bottom: 20px;
          color: #fff;
        }
      }
    }

    &.sticky-down {
      top: 89px;
    }

    .drop-btn {
      background-color: #457537;
      padding: 15px 20px;
      display: none;

      span {
        position: relative;
        font-size: 20px;
        color: #fff;
        display: block;

        &::after {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          margin: auto;
          bottom: 0;
          right: 0;
          width: 18px;
          height: 12px;
          background: url('/ajayverma/templates/assets/images/open-nav-new.svg');
          background-size: 100%;
          background-repeat: no-repeat;
          transition: transform 0.2s linear, -webkit-transform 0.2s linear, -o-transform 0.2s linear;
        }
      }

      &.active {
        span {
          &::after {
            transform: translateY(-50%) rotate(-179deg);
          }
        }
      }

      @media screen and (max-width: 991px) {
        display: block;

      }
    }

    @media screen and (max-width: 991px) {
      display: block;
      text-align: left;
    }
  }

  .outer-wrapper {
    &.sticky {
      position: fixed;
      left: 0;
      top: 90px;
      background-color: #fff;
      z-index: 9999;
      width: 100%;

      .content-wrapper {
        @media screen and (max-width: 991px) {
          padding: 0;
        }
      }

      @media screen and (min-width: 1800px) {
        // padding-left: 140px;
      }

      @media screen and (max-width: 1799px) and (min-width: 1360px) {
        padding-left: 80px;
      }

      @media screen and (max-width: 1359px) and (min-width: 1200px) {
        padding-left: 50px;
      }

      @media screen and (max-width: 1199px) and (min-width: 1024px) {
        padding-left: 60px;
      }

      @media screen and (max-width: 1023px) and (min-width: 992px) {
        padding-left: 20px;
        top: 56px;
      }

      @media screen and (max-width: 991px) {
        top: 56px;
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #e0e7e78a;
    bottom: 10px;
  }

  &.transparent-sticky {
    &::before {
      opacity: 0;
    }
  }

  &.gray-sticky {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;

    @media screen and (min-width: 1599px) {
      height: 111px !important;
    }

    &::before {
      opacity: 0;
    }

    .content-wrapper ul li a {
      padding-bottom: 42px;

      &::after {
        height: 5px;
        background: #505050;
      }
    }

    .content-wrapper ul li {
      &.active {
        a {
          &::after {
            background-color: #457545;
          }
        }
      }
    }

    .outer-wrapper {
      &.sticky {
        background-color: #f0f0f0;

        .content-wrapper ul li a {
          padding-bottom: 36px;

          @media screen and (max-width: 991px) {
            padding-bottom: 33px;
          }
        }
      }
    }
  }

  &.gray-sticky-v2 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;

    @media screen and (min-width: 1599px) {
      height: 111px !important;
    }

    &::before {
      opacity: 0;
    }

    .content-wrapper ul li a {
      padding-bottom: 42px;
      font-size: 16px;
      font-weight: 500;

      &::after {
        height: 5px;
        // background: #505050;
      }

      @media screen and (max-width: 991px) {
        padding-bottom: 36px;
      }
    }

    .outer-wrapper {
      &.sticky {
        background-color: #f0f0f0;

        .content-wrapper ul li a {
          padding-bottom: 36px;

          @media screen and (max-width: 991px) {
            padding-bottom: 33px;
          }
        }
      }
    }
  }
}

.intro-with-card-grid {
  .intro-wrap {
    text-align: center;
    margin-bottom: 60px;

    h2 {
      color: #000;
    }
  }

  .outer-wrap {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-left: -15px;
    justify-content: center;

    @media screen and (max-width: 595px) {
      display: block;
      width: 100%;
      margin: auto;
    }

    .card-item {
      width: calc(33.33% - 30px);
      margin: 0 15px 30px;
      padding: 30px;
      height: 440px;
      border-radius: 16px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      @media screen and (max-width: 991px) and (min-width: 768px) {
        width: calc(50% - 30px);
      }

      @media screen and (max-width: 767px) {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .inner-contnet {
        margin-top: auto;
        width: 100%;
        overflow: hidden;
        transition: all .3s ease-in-out;

        .title-wrap {
          h4 {
            color: #fff;
          }
        }

        .body-wrap {
          margin: 10px 0;
          overflow: hidden;
          max-height: 0;
          transition: max-height .4s ease-in-out;

          p {
            color: #fff;
          }
        }
      }

      &.black-card {
        background: var(--Primary-Black, #0D0D0D);
      }

      &.blue-card {
        background: var(--Primary-Dark-Teal, #004D7C);
      }

      &.teal-card {
        background: var(--Secondary-Teal, #026D85);
      }

      &:hover {
        .body-wrap {
          max-height: 172px;
        }
      }
    }
  }

}

.content-with-toggle {
  position: relative;
  overflow: hidden;
  background: #1D2D40;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(182.32deg, #1D2D40 3.13%, rgba(29, 45, 64, 0.178886) 65.84%, rgba(29, 45, 64, 0) 98.05%);
    z-index: 1;
  }

  .bg-img {
    position: absolute;
    top: 240px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);

    img {
      width: 100%;
      height: 100%;

    }
  }

  .intro-wrap {
    position: relative;
    z-index: 4;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;

    h2 {
      font-size: 64px;
      font-weight: 700;
      line-height: 76.8px;
      text-align: center;
      color: #fff;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
      padding-top: 20px;

    }
  }

  .row {
    width: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 4;

    @media screen and (max-width: 991px) {
      display: block;
      width: auto;
      padding: 0 30px;
      margin-top: 0;
    }

    button {
      display: none;
      position: relative;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
      padding: 13px 22px;
      outline: none;
      border: none;
      min-height: 58px;
      text-align: left;
      border-radius: 20px;
      background: #fff;

      @media screen and (max-width: 991px) {
        display: block;
      }

      @media screen and (max-width: 767px) {
        padding: 20px 24px;
      }

      span {
        color: #000;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
          font-size: 18px;
          line-height: 18px;
        }
      }

      &.open {
        &:after {
          @media screen and (max-width: 991px) {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            bottom: 0;
            right: 25px;
            width: 18px;
            height: 12px;
            background: url("/ajayverma/templates/assets/images/down-arrow.png");
            background-size: 100%;
            background-repeat: no-repeat;
            transform: translateY(-50%);
            transition: transform 0.2s linear, -webkit-transform 0.2s linear,
              -o-transform 0.2s linear;
          }
        }
      }

      &.active {
        &:after {
          transform: translateY(-50%) rotate(-179deg);
        }
      }

      .cover {
        @media screen and (max-width: 991px) {
          display: flex;
          min-width: 200px;
          margin: 0 auto;
          align-items: center;
          padding: 0 24px;
          flex-wrap: wrap;
        }
      }
    }
  }

  .content-wrap {
    width: 50%;
    height: 100%;
    padding-right: 18px;
    position: relative;
    z-index: 4;

    @media screen and (max-width: 991px) {
      position: absolute;
      max-width: 100%;
      width: 100%;
      height: auto;
      overflow-x: hidden;
      overflow-y: scroll;
      opacity: 0;
      left: 0;
      background: #1D2D40;

      &.active {
        opacity: 1;
        z-index: 2;
        overflow: hidden;
      }
    }

    &.current-item {
      @media screen and (max-width: 991px) {
        display: block;
      }
    }

    .tab-div {
      display: block;

      @media screen and (max-width: 991px) {
        padding: 25px 40px;
      }
    }

    .arrow-wrap {
      position: relative;
      padding: 1px 35px 0 0;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 800;

      &:hover {
        color: blue;
      }

      h6 {
        font-size: 32px;
        font-weight: 600;
        line-height: 38.4px;
        color: #fff;

        @media screen and (max-width: 991px) {
          font-weight: bold;
          padding-left: 16px;
          font-size: 14px;
          text-align: left;
          color: #fff;
          font-size: 25px;
        }
      }
    }

    &.active {
      display: block;
    }
  }

  .text-wrapper {
    position: relative;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 50%);
    padding-bottom: 50px;

    @media screen and (max-width: 991px) {
      margin-bottom: 35px;
    }

    &:first-child {
      margin-bottom: 50px;

      @media screen and (max-width: 991px) {
        margin-bottom: 35px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .inner-wrapper {
      position: relative;
      display: none;
      height: 0;
      overflow: hidden;

      @media screen and (max-width: 991px) {
        display: none !important;
      }

      &.hide {
        display: none !important;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.4px;
        letter-spacing: 0.01em;
        color: #fff;
      }

      &.remove {
        @media screen and (max-width: 991px) {
          display: none !important;
        }
      }
    }

    &.active {
      h6 {
        color: #fff;
      }
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   display: block;
    //   top: 46px;
    //   bottom: 0;
    //   right: 25px;
    //   width: 18px;
    //   height: 12px;
    //   background: url("/ajayverma/templates/assets/images/open-nav-new.svg");
    //   background-size: 100%;
    //   background-repeat: no-repeat;
    //   transform: translateY(-50%);
    //   transition: transform 0.2s linear, -webkit-transform 0.2s linear,
    //     -o-transform 0.2s linear;

    //   @media screen and (max-width: 991px) {
    //     opacity: 0;
    //   }
    // }

    // &.active {
    //   &:after {
    //     transform: translateY(-50%) rotate(-179deg);
    //   }
    // }

    &.active {
      // background: #0D0D0D80;
      background-color: rgba(13, 13, 13, 0.5);
      padding: 30px;
      border-bottom: 4px solid #00BFC8;
      border-radius: 16px 16px 0 0;

      .arrow-wrap {
        h6 {
          color: #00BFC8;
        }
      }

      .inner-wrapper {
        display: block;
        height: 100%;
      }
    }

  }

  .heading {
    &.hide {
      @media screen and (max-width: 991px) {
        display: none !important;
      }
    }
  }

  .tab-text {
    width: 50%;

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  .img-wrap {
    width: 0;
    height: 0;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.active {
      height: 557px;
      width: 100%;

      @include tablet-down {
        height: 335px;
      }
    }
  }

  .content {
    margin-top: 20px;

    @media screen and (min-width: 992px) {
      display: none;
    }

    @media screen and (max-width: 991px) {
      max-width: 515px;
      margin-bottom: 30px;
    }

    h6 {
      font-size: 22px;
      color: #fff;
      font-weight: 800;
    }

    p {
      margin-top: 20px;
      color: #fff;
    }
  }

  &.tbs-op2 {
    @media screen and (max-width: 991px) {
      background-color: #fff;
    }

    .row {
      margin-top: 0;
      padding: 0;
      margin: 0;
      background-color: #fff;

      .open {
        background: #f9f9f9;
      }

      .content-wrap {
        background-color: #fff;

        @media screen and (max-width: 991px) {
          padding-right: 0;
        }

        .tab-div {
          .text-wrapper {
            margin-bottom: 100px;
            padding-bottom: 0;

            @include desktop {
              margin-bottom: 50px;
            }

            @media screen and (max-width: 991px) {
              margin-bottom: 30px;
            }

            .arrow-wrap {
              h6 {
                color: #0000004d;

                @include desktop {
                  font-size: 26px;
                }
              }
            }

            .inner-wrapper {
              p {
                color: #000;
                max-width: 500px;
              }
            }

            &.active {
              padding-left: 20px;
              border-left: 5px solid #457537;

              @media screen and (max-width: 991px) {
                padding-left: 0;
              }

              .arrow-wrap {
                h6 {
                  color: #000;
                }
              }
            }
          }
        }
      }

      .content {
        h6 {
          color: #000;
        }

        p {
          color: #000;
        }
      }
    }
  }

  &.tbs-op3 {
    background-color: #fff;

    .row {
      background-color: #fff;

      .open {
        background: #f9f9f9;
      }

      .content-wrap {
        background-color: #fff;
        padding-right: 40px;

        @media screen and (max-width: 991px) {
          border-right: 0;
        }

        .tab-div {
          border-right: 2px solid #00000033;

          @media screen and (max-width: 991px) {
            border-right: 0;
          }

          .text-wrapper {
            margin-bottom: 100px;
            padding-bottom: 0;

            @media screen and (max-width: 991px) {
              margin-bottom: 30px;
            }

            .arrow-wrap {
              h6 {
                color: #0000004d;
              }
            }

            .inner-wrapper {
              p {
                color: #000;
                max-width: 500px;
              }
            }

            &.active {
              border-right: 5px solid #457537;

              @media screen and (max-width: 991px) {
                border-right: 0;
              }

              .arrow-wrap {
                h6 {
                  color: #000;
                }
              }
            }
          }
        }
      }

      .content {
        h6 {
          color: #000;
        }

        p {
          color: #000;
        }
      }
    }
  }

}