/* hero-banner */
.hero-banner {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.hero-banner .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-banner .bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-banner .content-wrap {
    position: relative;
    z-index: 2;

}

.hero-banner .content-wrap .subtitle {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
}

.hero-banner .content-wrap h1 {
    color: #FFF;
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -7px;
}

.hero-banner .content-wrap span {
    color: #FA198C;
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -7px;
}

.hero-banner .content-wrap p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 30px;
    max-width: 1000px;
}

.hero-banner .black-overlay {
    position: relative;
}

.hero-banner .btn-wrap {
    margin-top: 25px;
}

.hero-banner.black-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.40;
}

.hero-banner.bg-white-grid::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-size: 6rem;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    background-attachment: fixed;
    background-image: url('/ajayverma/templates/assets/images/Grid_Pattern_White.svg');
}

/* Media queries */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .hero-banner .content-wrap h1 {
        font-size: 110px;
    }

    .hero-banner .content-wrap span {
        font-size: 110px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 596px) {

    .hero-banner .content-wrap h1 {
        font-size: 100px;
    }

    .hero-banner .content-wrap span {
        font-size: 110px;
    }
}

@media only screen and (max-width: 595px) {

    .hero-banner .content-wrap h1 {
        font-size: 80px;
    }

    .hero-banner .content-wrap span {
        font-size: 80px;
    }

    .hero-banner .content-wrap p {
        max-width: 100%;
    }
}

/* footer-cta */

.footer-cta {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.footer-cta .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-cta .bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-cta .bg-img .imac-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-cta .content-wrap {
    position: relative;
    z-index: 2;

}

.footer-cta .content-wrap .subtitle {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
    margin-top: 0;
}

.footer-cta .content-wrap h2 {
    color: #FFF;
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -7px;
}

.footer-cta .content-wrap p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 30px;
    max-width: 1000px;
}

.footer-cta .content-wrap .btn-wrap {
    margin-top: 30px;
}

.footer-cta.black-overlay {
    position: relative;
}

.footer-cta.black-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.40;
}

.footer-cta.bg-white-grid::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-size: 6rem;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    background-attachment: fixed;
    background-image: url('/ajayverma/templates/assets/images/Grid_Pattern_White.svg');
}

/* Media queries */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .footer-cta .content-wrap h1 {
        font-size: 110px;
    }

    .footer-cta .content-wrap span {
        font-size: 110px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 596px) {

    .footer-cta.content-wrap h2 {
        font-size: 100px;
    }

    .footer-cta .content-wrap span {
        font-size: 110px;
    }
}

@media only screen and (max-width: 595px) {

    .footer-cta .content-wrap h2 {
        font-size: 80px;
    }

    .footer-cta .content-wrap span {
        font-size: 80px;
    }

    .footer-cta .content-wrap p {
        max-width: 100%;
    }
}

/* accordion-with-content */

.accordion-with-content {
    min-height: 100vh;
    background-color: #E5E4E7;
    display: flex;
    align-items: center;
}

.accordion-with-content .title-wrap {

}

.accordion-with-content .title-wrap h2 {
    color: #000;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.1px;
}

.accordion-with-content .accordion-item {
    border-bottom: 1px solid #000;
    padding: 50px 0;
}

.accordion-with-content .accordion-item h4 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

}

.accordion-with-content .accordion-body {
    display: none;

}

.accordion-with-content .btn-wrap {
    margin-top: 20px;
}

.accordion-with-content .accordion-body p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;

}

/* Media queries */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .accordion-with-content .title-wrap h2 {
        font-size: 45px;
    }

    .accordion-with-content .accordion-item h4 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 596px) {
    .accordion-with-content .title-wrap h2 {
        font-size: 42px;
    }

    .accordion-with-content .accordion-item h4 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 595px) {
    .accordion-with-content .title-wrap h2 {
        font-size: 40px;
    }

    .accordion-with-content .accordion-item h4 {
        font-size: 25px;
    }

    .accordion-with-content .accordion-item {
        padding: 30px 0;
    }

}

/* col-three-grid */

.col-three-grid {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.col-three-grid .column-wrapper {
    width: calc(100% + 20px);
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -80px;

}

.col-three-grid .column-wrapper .item {
    position: relative;
    width: calc(33.33% - 20px);
    margin: 0 10px 30px;
    padding: 82px 50px 100px 50px;
    z-index: 2;
    border: 1px solid #989898;
    background-color: #FFFFFF;
}

.col-three-grid .item .logo-wrap {
    position: relative;
    max-width: 100px;
    overflow: hidden;
    height: 100px;
    z-index: 2;
    width: 100%;
    display: inline-block;
    margin-bottom: 9px;
}

.col-three-grid .item .logo-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.col-three-grid .item h4 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-top: 20px;
}

.col-three-grid .item p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 20px;
}

.col-three-grid .item .btn-wrap {
    position: absolute;
    bottom: 50px;
    left: 50px;

}

.col-three-grid.bg-black-grid {
    position: relative;
}

.col-three-grid .bg-text-lines {
    width: 100%;
    position: relative;
    z-index: 2;
}

.col-three-grid .bg-text-lines .marquee-text-line {
    color: #E5E4E7;
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -7px;
}

.col-three-grid .bg-text-lines span {
    color: #000;
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -7px;
}

.col-three-grid .item > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.col-three-grid.bg-black-grid::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-size: 6rem;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    background-attachment: fixed;
    background-image: url('/ajayverma/templates/assets/images/Grid_Pattern_Black.svg');
}

/* Media queries */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .col-three-grid .column-wrapper .item {
        width: calc(50% - 20px);
        padding: 60px 30px 80px 30px;
    }

    .col-three-grid .item .btn-wrap {
        bottom: 40px;
        left: 30px;
    }

    .col-three-grid .bg-text-lines .marquee-text-line {
        font-size: 100px;
    }

    .col-three-grid .bg-text-lines span {
        font-size: 100px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 596px) {
    .col-three-grid .column-wrapper .item {
        width: calc(50% - 20px);
        padding: 60px 30px 80px 30px;
    }

    .col-three-grid .item .btn-wrap {
        bottom: 40px;
        left: 30px;
    }

    .col-three-grid .bg-text-lines .marquee-text-line {
        font-size: 100px;
    }

    .col-three-grid .bg-text-lines span {
        font-size: 100px;
    }
}

@media only screen and (max-width: 595px) {
    .col-three-grid .column-wrapper {
        display: block;
        width: 100%;
        margin: auto;
    }

    .col-three-grid .column-wrapper .item {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }

    .col-three-grid .bg-text-lines .marquee-text-line {
        font-size: 80px;
    }

    .col-three-grid .bg-text-lines span {
        font-size: 80px;
    }
}

/* img-with-slider */

.img-with-slider {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.img-with-slider .slider-wrapper {

}

.img-with-slider .slider-item {
    display: flex;
    width: 100%;
}

.img-with-slider .slider-wrapper .img-item {
    width: 40%;
}

.img-with-slider .img-wrap {
    max-height: 490px;
    overflow: hidden;
    height: 100%;
}

.img-with-slider .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-with-slider .slider-wrapper .content-item {
    position: relative;
    width: 60%;
    padding-left: 130px;
}

.img-with-slider .content-item::after {
    content: "";
    position: absolute;
    left: 51px;
    top: 0;
    width: 80px;
    height: 66px;
    background: url('/ajayverma/templates/assets/images/quotations.svg') no-repeat;
    background-size: 100%;
}

.img-with-slider .content-item h3 {
    color: #FFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.1px;
}

.img-with-slider .content-item span {
    color: #FA198C;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 30px 0;
    display: block;
}

.img-with-slider .logo-wrap {
    position: relative;
    max-width: 126px;
    overflow: hidden;
    height: 21px;
    z-index: 2;
    width: 100%;
}

.img-with-slider .logo-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-with-slider .btn-wrap {
    margin-top: 30px;
}

.img-with-slider .logo-slider {
    width: calc(100% + 50px);
    margin-left: -25px;
    display: flex;
    flex-wrap: wrap;
}

.img-with-slider .item {
    width: calc(16.66% - 50px);
    margin: 0 25px;
    display: flex;
    justify-content: center;
}

.img-with-slider .logo-slider .icon-wrap {
    position: relative;
    max-width: 210px;
    height: 84px;
    z-index: 2;
    width: 100%;
    overflow: hidden;
}

.img-with-slider .icon-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Media queries */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .img-with-slider .slider-item {
        display: block;
    }

    .img-with-slider .slider-wrapper .img-item {
        width: 100%;
    }

    .img-with-slider .slider-wrapper .content-item {
        width: 100%;
        padding-left: 60px;
        margin-top: 30px;
    }

    .img-with-slider .content-item h3 {
        font-size: 45px;
    }

    .img-with-slider .content-item::after {
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
    }

    .img-with-slider .img-wrap {
        max-height: 450px;
    }

    .img-with-slider .logo-slider {
        margin-top: 40px;
    }

    .img-with-slider .item {
        width: calc(33.33% - 50px);
        margin: 0 25px 20px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 596px) {
    .img-with-slider .slider-item {
        display: block;
    }

    .img-with-slider .slider-wrapper .img-item {
        width: 100%;
    }

    .img-with-slider .slider-wrapper .content-item {
        width: 100%;
        padding-left: 60px;
        margin-top: 30px;
    }

    .img-with-slider .content-item h3 {
        font-size: 40px;
    }

    .img-with-slider .content-item::after {
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
    }

    .img-with-slider .img-wrap {
        max-height: 450px;
    }

    .img-with-slider .logo-slider {
        margin-top: 40px;
    }

    .img-with-slider .item {
        width: calc(33.33% - 50px);
        margin: 0 25px 20px;
    }
}

@media only screen and (max-width: 595px) {
    .img-with-slider .slider-item {
        display: block;
    }

    .img-with-slider .slider-wrapper .img-item {
        width: 100%;
    }

    .img-with-slider .slider-wrapper .content-item {
        width: 100%;
        padding-left: 60px;
        margin-top: 30px;
    }

    .img-with-slider .content-item h3 {
        font-size: 35px;
    }

    .img-with-slider .content-item::after {
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
    }

    .img-with-slider .img-wrap {
        max-height: 330px;
    }

    .img-with-slider .logo-slider {
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 40px;
    }

    .img-with-slider .item {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
}

/* content-with-col */

.content-with-col {
    position: relative;
    display: flex;
    align-items: center;
}

.content-with-col .outer-wrapper {
    max-width: 1066px;
    margin-bottom: 80px;
    position: relative;
    z-index: 2;
}

.content-with-col .col-wrap {
    width: calc(100% + 50px);
    margin-left: -25px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.content-with-col .col-wrap .item {
    position: relative;
    width: calc(33.33% - 50px);
    margin: 0 25px;
}

.content-with-col .outer-wrapper .subtitle {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.content-with-col .outer-wrapper h2 {
    color: #000;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.5px;
    padding: 30px 0;
}

.content-with-col .outer-wrapper span {
    color: #FA198C;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.5px;
}

.content-with-col .outer-wrapper p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.content-with-col .item .icon-wrap {
    position: relative;
    max-width: 80px;
    overflow: hidden;
    height: 80px;
    z-index: 2;
    width: 100%;
    display: inline-block;
    margin-bottom: 9px;
}

.content-with-col .icon-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-with-col .item h4 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    max-width: 300px;
}

.content-with-col .item p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 20px 0;
    max-width: 300px;
}

.content-with-col .item > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content-with-col.bg-black-grid::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-size: 6rem;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    background-attachment: fixed;
    background-image: url('/ajayverma/templates/assets/images/Grid_Pattern_Black.svg');
}

/* Media queries */
@media only screen and (max-width: 767px) and (min-width: 596px) {
    .content-with-col .col-wrap .item {
        width: calc(50% - 50px);
    }
}

@media only screen and (max-width: 595px) {
    .content-with-col .col-wrap {
        width: 100%;
        display: block;
        margin: auto;
    }

    .content-with-col .col-wrap .item {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }
}

/* twocolwithlogo */
.twocolwithlogo {
    padding-bottom: 0;

}

.twocolwithlogo .outer-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 80px;
}

.twocolwithlogo .content-wrap {
    width: 60%;
}

.twocolwithlogo .cta-block {
    width: 40%;
}

.twocolwithlogo .cta-block .btn-wrap {
    float: right;
}

.twocolwithlogo .content-wrap .subtitle {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.twocolwithlogo .content-wrap h3 {
    color: #000;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.1px;
    margin-top: 20px;

}

.twocolwithlogo .content-wrap span {
    color: #FA198C;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.1px;

}
.twocolwithlogo .inner-wrap {
    position: relative;
    width: calc(100% + 50px);
    margin-left: -25px;
    display: flex;
    align-items: center;
    min-height: 363px;
    padding: 0 170px;
    border-top: 1px solid #989898;
}

.twocolwithlogo .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.twocolwithlogo .hover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.twocolwithlogo .inner-wrap .inner-item {
    position: relative;
    z-index: 2;
}

.twocolwithlogo .inner-wrap .inner-item {
    width: calc(50% - 50px);
    margin: 0 25px;
    display: flex;
    justify-content: center;
}

.twocolwithlogo .inner-item .icon-wrapper {
    position: relative;
    max-width: 210px;
    max-height: 75px;
    z-index: 2;
    width: 100%;
    overflow: hidden;
}

.twocolwithlogo .inner-content {
    max-width: 520px;
}

.twocolwithlogo .inner-content h3 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.twocolwithlogo .inner-content p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
    padding-top: 20px;

}
.twocolwithlogo .inner-wrap >a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* twocolwithlogo hover */

.twocolwithlogo .inner-wrap:hover .hover-img {
    opacity: 1;
}

.twocolwithlogo .inner-wrap:hover h3 {
    color: #ffffff;
}

.twocolwithlogo .inner-wrap:hover p {
    color: #ffffff;
}

.twocolwithlogo .inner-wrap:hover svg path {
    fill: #ffff;
}

/* Media queries */
@media only screen and (max-width: 1400px) and (min-width: 992px) {
    .twocolwithlogo .inner-wrap {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .twocolwithlogo .inner-wrap {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 596px) {
    .twocolwithlogo .inner-wrap {
        width: 100%;
        display: block;
        margin: auto;
        padding: 30px;
        min-height: auto;
    }

    .twocolwithlogo .inner-wrap .inner-item {
        width: 100%;
        margin: auto;
        justify-content: left;
    }

    .twocolwithlogo .inner-item .icon-wrapper {
        margin-bottom: 40px;
    }
    .twocolwithlogo .outer-wrap{
        display: block;
    }
    .twocolwithlogo .content-wrap{
        width: 100%;
    }
    .twocolwithlogo .cta-block{
        width: 100%;
    }
    .twocolwithlogo .cta-block .btn-wrap{
        margin-top: 30px;
        float: left;
    }
}

@media only screen and (max-width: 595px) {
    .twocolwithlogo .inner-wrap {
        width: 100%;
        display: block;
        margin: auto;
        padding: 30px;
        min-height: auto;
    }

    .twocolwithlogo .inner-wrap .inner-item {
        width: 100%;
        margin: auto;
        justify-content: left;
    }

    .twocolwithlogo .inner-item .icon-wrapper {
        margin-bottom: 40px;
    }
    .twocolwithlogo .outer-wrap{
        display: block;
    }
    .twocolwithlogo .content-wrap{
        width: 100%;
    }
    .twocolwithlogo .cta-block{
        width: 100%;
    }
    .twocolwithlogo .cta-block .btn-wrap{
        margin-top: 30px;
        float: left;
    }
}


/* content-with-slider */

.content-with-slider{
    background-color: #E5E4E7;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.content-with-slider .content-outer{
    display: flex;
    align-items: center;
}
.content-with-slider .content-item{
    width: 50%;
    padding-right: 100px;
}
.content-with-slider .content-item h3{
color: #000;
font-family: Poppins;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 110%;
letter-spacing: -1.1px;
padding-bottom: 20px;
}
.content-with-slider .content-item p{
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
padding-bottom: 20px;
}
.content-with-slider .content-item span{
    color: #FA198C;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.1px;
}
.content-with-slider .slider-wrap{
    width: 50%;
}
.content-with-slider .slider-wrap .slide{
    position: relative;
}
.content-with-slider .slide .img-wrap{
    position: relative;
    height: 541px;
    overflow: hidden;
}
.content-with-slider .slide .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-with-slider .slider-wrap .inner-content{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 50px 52px 38px;
}
.content-with-slider .inner-content h4 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}
.content-with-slider .inner-content p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
}
.content-with-slider .item-wrap{
    display: flex;
    align-items: center;
    padding-top: 138px;
}
.content-with-slider .item-wrap .title-wrap{
    width: 40%;
    padding-right: 91px;
}
.content-with-slider .title-wrap h3{
    position: relative;
    color: #000;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.1px;
}
.content-with-slider .title-wrap .star::after{
    content: "";
    position: absolute;
    right: -82px;
    top: -44px;
    width: 80px;
    height: 66px;
    background: url('/ajayverma/templates/assets/images/star.svg') no-repeat;
    background-size: 100%;
}
.content-with-slider .logo-inner{
    width: calc(100% - 30px);
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.content-with-slider .logo-inner .logo-wrap{
    width: calc(25% - 30px);
    margin: 0 15px;
}
.content-with-slider .icon-wrap{
    max-width: 153px;
    height: 46px;
    margin: auto;
    overflow: hidden;
}
.content-with-slider .icon-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Media queries */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .content-with-slider .slide .img-wrap{
        height: 470px;
    }
    .content-with-slider .content-item{
        padding-right: 20px;
    }
    .content-with-slider .logo-inner .logo-wrap{
        width: calc(33.33% - 30px);
        margin: 0 15px 30px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 596px) {
    .content-with-slider .content-outer{
        display: block;
        width: 100%;
    }
    .content-with-slider .content-item{
        width: 100%;
        padding-right: 0;
        padding-bottom: 40px;
    }
    .content-with-slider .slider-wrap{
        width: 100%;
    }
     .content-with-slider .logo-inner .logo-wrap{
        width: calc(50% - 30px);
        margin: 0 15px 30px;
    }
    .content-with-slider .item-wrap{
        display: block;
        width: 100%;
        padding-top: 70px;
    }
    .content-with-slider .item-wrap .title-wrap{
        width: 100%;
        padding-right: 91px;
        display: inline-flex;
        padding-bottom: 40px;
    }
  
}

@media only screen and (max-width: 595px) {
    .content-with-slider .content-outer{
        display: block;
        width: 100%;
    }
    .content-with-slider .content-item{
        width: 100%;
        padding-right: 0;
        padding-bottom: 40px;
    }
    .content-with-slider .slider-wrap .inner-content{
        padding: 30px;
    }
    .content-with-slider .slider-wrap{
        width: 100%;
    }
    .content-with-slider .logo-inner .logo-wrap{
        width: calc(50% - 30px);
        margin: 0 15px 30px;
    }
    .content-with-slider .item-wrap{
        display: block;
        width: 100%;
        padding-top: 70px;
    }
    .content-with-slider .item-wrap .title-wrap{
        width: 100%;
        padding-right: 91px;
        display: inline-flex;
        padding-bottom: 40px;
    }
}



/* content-with-img */



.content-with-img{
    background-color: #E5E4E7;
}
.content-with-img .column-wrapper{
    position: relative;
}
.content-with-img .inner-wrap{
    position: relative;
    display: flex;
    width: 100%;
}
.content-with-img .text-holder{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    
}
.content-with-img .inner-content{
    max-width: 710px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 230px);
    padding-left: 30px;
}
.content-with-img .title-wrap{
    padding-right: 150px;
}
.content-with-img .title-wrap .subtitle{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    margin-bottom: 30px;
}
.content-with-img .title-wrap h3 {
    color: #000;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    letter-spacing: -1.1px;
}
.content-with-img .title-wrap span {
    color: #FA198C;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    letter-spacing: -1.1px;
}
.content-with-img .body-wrap {
    padding-right: 150px;
}
.content-with-img .body-wrap h4 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 20px;
}
.content-with-img .body-wrap p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.content-with-img .image-holder {
    position: relative;
    width: 50%;
}
.content-with-img .image-holder .img-wrap{
    position: relative;
    height: 100vh;
}
.content-with-img .img-wrap img  {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content-with-img .image-holder .img-wrap.msg-box::after{
    content: "";
    content: "";
    position: absolute;
    left: -144px;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 244px;
    height: 181px;
    background: url(/ajayverma/templates/assets/images/msg-box.svg) no-repeat;
    background-size: 100%;
}
.content-with-img .image-holder .img-wrap.msg-box::before{
    content: "";
    position: absolute;
    left: -202px;
    top: -201px;
    margin: auto;
    bottom: 0;
    width: 59px;
    height: 41px;
    background: url(/ajayverma/templates/assets/images/three-dots.svg) no-repeat;
    background-size: 100%;
}
.content-with-img .image-holder .img-wrap.grid-graphic::after{
    content: "";
    position: absolute;
    left: -92px;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 178px;
    height: 154px;
    background: url(/ajayverma/templates/assets/images/arrow-graphic.svg) no-repeat;
    background-size: 100%;
}
.content-with-img .image-holder .img-wrap.grid-graphic::before{
    content: "";
    position: absolute;
    left: -230px;
    top: -221px;
    margin: auto;
    bottom: 0;
    width: 124px;
    height: 111px;
    background: url(/ajayverma/templates/assets/images/grid-graphic.svg) no-repeat;
    background-size: 100%;
}
.content-with-img .image-holder .img-wrap.right-graphic::after{
    content: "";
    position: absolute;
    left: -89px;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 169px;
    height: 114px;
    background: url(/ajayverma/templates/assets/images/right-graphic.svg) no-repeat;
    background-size: 100%;
}
.content-with-img .image-holder .img-wrap.right-graphic::before{
    content: "";
    position: absolute;
    left: -129px;
    top: -146px;
    margin: auto;
    bottom: 0;
    width: 72px;
    height: 54px;
    background: url(/ajayverma/templates/assets/images/right-black-icon.svg) no-repeat;
    background-size: 100%;
}
/* Media queries */

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .content-with-img .title-wrap{
        padding-right: 35px;
    }
    .content-with-img .body-wrap{
        padding-right: 40px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 596px) {
    .content-with-img .text-holder{
        width: 100%;
        display: block;
        min-height: 100%;
        padding-top: 50px;
    }
    .content-with-img .inner-content{
        display: block;
        margin: auto;
        max-width: 100%;
        height: 100%;
    }
    .content-with-img .image-holder{
        width: 100%;
    }
    .content-with-img .inner-wrap{
        display: block;
    }
    .content-with-img .title-wrap{
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .content-with-img .body-wrap{
        padding-right: 30px;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 595px) {
    .content-with-img .text-holder{
        width: 100%;
        display: block;
        min-height: 100%;
        padding-top: 50px;
    }
    .content-with-img .inner-content{
        display: block;
        margin: auto;
        max-width: 100%;
        height: 100%;
    }
    .content-with-img .image-holder{
        width: 100%;
    }
    .content-with-img .inner-wrap{
        display: block;
    }
    .content-with-img .title-wrap{
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .content-with-img .body-wrap{
        padding-right: 30px;
        padding-bottom: 30px;
    }
}
