.surescript-img-with-grid {
  background-color: #F2F2F3;
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 270px);
    @include tablet {
      height: calc(100% - 100px);
    }
    @include phablet {
      height: calc(100% - 110px);
    }
    @include phablet-down {
      height: calc(100% - 60px);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: inherit;
    }
  }
  .column-wrapper {
    @include phablet-down {
      text-align: center;
    }
    .inner-wrap {
      display: flex;
      width: calc(100% + 50px);
      margin-left: -25px;
      align-items: center;
      padding-bottom: 100px;
      @include phablet-down {
        width: 100%;
        margin: auto;
        display: block;
      }
      @include tablet-down {
        padding-bottom: 35px;
      }
      .item {
        width: calc(50% - 50px);
        margin: 0 25px;
        @include phablet-down {
          width: 100%;
          margin: auto;
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
        }
        .content-wrap {
          max-width: 580px;
          h3 {
            color: #FFF;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.75px;
            margin-bottom: 20px;
          }
          p {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
        .img-wrap {
          height: 100%;
          width: 100%;
          min-height: 360px;
          overflow: hidden;
          @include phablet-down {
            max-width: 300px;
            margin: auto;
          }
          @include desktop {
            min-height: 100%;
          }
          @include desktop-down {
            min-height: 100%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      }
      &.reverse {
        flex-direction: row-reverse;
        .content-wrap {
          padding-left: 80px;
          @include desktop {
            padding-left: 30px;
          }
          @include desktop-down {
            padding: 0;
          }
        }
        .img-wrap {
          img {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .intro {
    h2 {
      color: #FFF;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.75px;
      margin-bottom: 20px;
    }
  }
  .cta-wrap {
    position: relative;
    overflow: hidden;
    max-height: 520px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

}

// Surescript Form Grid

.surescript-form-grid {
  background-color: #F2F2F3;
  .column-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    @include desktop-down {
      display: block;
    }
    @include phablet-down {
      text-align: center;
    }
    .content-wrap {
      width: 35%;
      padding-right: 100px;
      @include desktop-down {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
      }
      h2 {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.75px;
        margin-bottom: 15px;
      }
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .column-grid {
      width: 65%;
      display: flex;
      @include tablet {
        width: 100%;
      }
      @include tablet-down {
        width: 100%;
      }
      @include phablet-down {
        display: block;
      }
      .item {
        width: 50%;
        margin: 0 15px;
        @include phablet-down {
          width: 100%;
          margin: auto;
        }
        .img-wrap {
          margin-bottom: 20px;
          height: 386px;
          overflow: hidden;
          @include phablet-down {
            height: 350px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: inherit;
            border-radius: 8px;
          }
        }
        .bg-img {
          margin-bottom: 20px;
          height: 560px;
          overflow: hidden;
          @include phablet-down {
            height: 450px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: inherit;
            border-radius: 8px;
          }
        }
        &:last-child {
          margin-top: 90px;
          @include phablet-down {
            margin-top: 0;
          }
        }
      }
    }
  }
}

// col-two-img-gallery

.col-two-img-gallery {
  padding: 100px 0;
  .content-wrap {
    display: flex;
    width: calc(100% + 10px);
    margin-left: -5px;
    @include phablet-down {
      width: 100%;
      margin: auto;
      display: block;
    }
    .item {
      width: calc(50% - 10px);
      margin: 0 5px;
      @include phablet-down {
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      .img-wrap {
        height: 359px;
        margin-bottom: 10px;
        @include desktop {
          height: 315px;
        }
        @include tablet {
          height: 262px;
        }
        @include phablet {
          height: 240px;
        }
        @include phablet-down {
          height: 340px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .bg-img {
        height: 728px;
        @include desktop {
          height: 640px;
        }
        @include tablet {
          height: 534px;
        }
        @include phablet {
          height: 490px;
        }
        @include phablet-down {
          height: 571px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

//surescript-img-Block

.surescript-img-Block {
  position: relative;
  padding: 100px 0;
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-wrap {
    width: calc(100% + 50px);
    margin-left: -25px;
    display: flex;
    padding-bottom: 30px;
    @include phablet-down {
      width: 100%;
      display: block;
      margin: auto;
      text-align: center;
    }
    .item {
      width: calc(50% - 50px);
      margin: 0 20px;
      @include phablet-down {
        width: 100%;
        margin: auto;
      }
      h2 {
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.75px;
        @include phablet-down {
          margin-bottom: 20px;
        }
      }
      p {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  .img-wrap {
    max-height: 790px;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Content With Design Architecture

.content-with-design-architecture {
  position: relative;
  padding: 100px 0;
  .content-wrap {
    width: calc(100% + 50px);
    margin-left: -25px;
    display: flex;
    padding-bottom: 30px;
    @include phablet-down {
      width: 100%;
      display: block;
      margin: auto;
      text-align: center;
    }
    .item {
      width: calc(50% - 50px);
      margin: 0 20px;
      @include phablet-down {
        width: 100%;
        margin: auto;
      }
      h2 {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.75px;
        @include phablet-down {
          margin-bottom: 20px;
        }
      }
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  .img-wrap {
    max-height: 790px;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Surescript Design Block

.surescript-surescript-design-block {
  position: relative;
  padding: 100px 0;
  .content-wrap {
    width: calc(100% + 50px);
    margin-left: -25px;
    display: flex;
    padding-bottom: 50px;
    @include phablet-down {
      width: 100%;
      display: block;
      margin: auto;
      text-align: center;
    }
    .item {
      width: calc(50% - 50px);
      margin: 0 20px;
      @include phablet-down {
        width: 100%;
        margin: auto;
      }
      h2 {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.75px;
        @include phablet-down {
          margin-bottom: 20px;
        }
      }
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  .column-wrapper {
    width: calc(100% + 20px);
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
    @include phablet-down {
      width: 100%;
      display: block;
      margin: auto;
    }
    .design-wrap {
      width: calc(25% - 20px);
      margin: 0 10px;
      @include phablet {
        width: calc(50% - 20px);
        margin: 0 10px;
      }
      @include phablet-down {
        width: 100%;
        margin: auto;
      }
      .img-wrap {
        overflow: hidden;
        width: 100%;
        height: auto;
        @include tablet-down {
          margin-bottom: 30px;
        }
        @include phablet-down {
          height: 766px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:nth-child(even) {
        margin-top: 85px;
        @include desktop-down {
          margin-top: 0;
        }
      }
    }
  }
}

// Content With Design

.content-with-design {
  position: relative;
  padding: 100px 0;
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .column-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    @include desktop-down {
      display: block;
    }
    @include phablet-down {
      text-align: center;
    }
    .content-wrap {
      width: 35%;
      padding-right: 100px;
      @include desktop-down {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
      }
      h2 {
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.75px;
        margin-bottom: 20px;
      }
      p {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .column-grid {
      width: 65%;
      display: flex;
      @include tablet {
        width: 100%;
      }
      @include tablet-down {
        width: 100%;
      }
      @include phablet-down {
        display: block;
      }
      .item {
        width: 50%;
        //margin: 0 15px;
        &:first-child {
          left: 39px;
          position: relative;
        }
        @include phablet-down {
          width: 100%;
          margin: auto;
        }
        .img-wrap {
          margin-bottom: 20px;
          height: 458px;
          overflow: hidden;
          @include phablet {
            height: 350px;
          }
          @include phablet-down {
            height: 350px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: inherit;
            border-radius: 8px;
          }
        }
        &:last-child {
          margin-top: 90px;
          @include phablet-down {
            margin-top: 0;
          }
        }
      }
    }
  }
  //&:after{
  //  content: "";
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: 100%;ireframes Block
  //  height: 100%;
  //  background-size: cover;
  //  background-image: url('/ajayverma/templates/assets/images/green-overlay.png');
  //
  //}
}

//wireframes-block

.wireframes-block {
  padding: 100px 0 0;
  background-color: #F2F2F3;
  position: relative;
  .column-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 2;
    @include desktop-down {
      display: block;
    }
    @include phablet-down {
      text-align: center;
    }
    .content-wrap {
      position: relative;
      width: 35%;
      padding-right: 100px;
      @include desktop-down {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
      }
      h2 {
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.75px;
        margin-bottom: 20px;
      }
      p {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .column-grid {
      width: 65%;
      display: flex;
      @include tablet {
        width: 100%;
      }
      @include tablet-down {
        width: 100%;
      }
      @include phablet-down {
        display: block;
      }
      .item {
        width: 50%;
        //margin: 0 15px;
        &:first-child {
          margin-top: 90px;
          left: 58px;
          position: relative;
          @include phablet-down {
            left: 0;
          }
        }
        @include phablet-down {
          width: 100%;
          margin: auto;
        }
        .img-wrap {
          margin-bottom: 20px;
          height: 100%;
          overflow: hidden;
          @include phablet {
            height: 100%;
          }
          @include phablet-down {
            height: 100%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: inherit;
            border-radius: 8px;
          }
        }
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 43%;
    height: calc(100% - 247px);
    display: flex;
    left: 0;
    top: 80px;
    bottom: 0;
    margin: auto;
    background-color: #0082ca;
    border-radius: 8px;
    @include desktop-down {
      width: 100%;
      height: 100%;
    }
  }
}

//surescript-statics

.surescript-statics {
  padding: 100px 0;
  background: var(--Linear,linear-gradient(315deg,#002a3b 0%,#005677 100%));
  .outer-wrapper {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-bottom: 80px;
    h2 {
      color: #FFF;
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -1.5px;
      margin-bottom: 20px;
    }
    p {
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .counter-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    max-width: 800px;
    margin: auto;
    .counter-item{
      position: relative;
      width: calc(33.33% - 40px);
      margin: 0 20px;
      text-align: -webkit-center;
      @include phablet{
        width: calc(50% - 40px);
        margin: 0 20px 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      @include phablet-down{
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
        &:last-child{
          padding-bottom: 0;
        }
      }
      .inner-content{
        position: relative;
        .text-wrap{
          color: #FFF;
          text-align: center;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -1.2px;
        }

        &.blue{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background-color: transparent;
          border: 15px solid #00A8E1;
          &:before{
            content: "";
            position: absolute;
            background-color: transparent;
            width: 230px;
            height: 230px;
            top: -30px;
            left: -30px;
            bottom: 6px;
            right: 0;
            border-radius: 50%;
            border-color: #dbdbdb;
            border: 15px solid;
            opacity: 0.2;
          }
        }
        &.green{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background-color: transparent;
          border: 15px solid #69B345;
          &:before{
            content: "";
            position: absolute;
            background-color: transparent;
            width: 230px;
            height: 230px;
            top: -30px;
            left: -30px;
            bottom: 6px;
            right: 0;
            border-radius: 50%;
            border-color: #dbdbdb;
            border: 15px solid;
            opacity: 0.2;
          }
        }
        &.yellow{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background-color: transparent;
          border: 15px solid #F7901E;
          &:before{
            content: "";
            position: absolute;
            background-color: transparent;
            width: 230px;
            height: 230px;
            top: -30px;
            left: -30px;
            bottom: 6px;
            right: 0;
            border-radius: 50%;
            border-color: #dbdbdb;
            border: 15px solid;
            opacity: 0.2;
          }
        }
      }
      p{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.45px;
        margin-top: 30px;
      }
    }
  }

}
