.tab-slider {
  
  &.slider-active {
    opacity: 1;
  }
  .slick-list {
    z-index: 2;
  }

  &::before {
    z-index: 1;
  }
  .link-outer {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      height: 1px;
      background-color: black;
      bottom: 7px;
      width: 100%;
      @include desktop-down {
        bottom: 2px;
      }
    }
  }
  .tabs-outer {
    padding: 26px 0 0;
    background: white;
    margin-top: 60px;
    @include desktop {
      margin-top: 40px;
      padding: 23px 0 0;
    }
    @include tablet-down {
      margin-top: 30px;
    }
  }
  .tabs-wrap {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
    @include desktop-down {
      padding: 0 25px;
    }
    @include tablet {
      max-width: calc(100% - 100px);
    }
    @include tablet-down {
      width: calc(100% - 16px);
      max-width: 100%;
    }
    .tab-box {
      cursor: pointer;
      text-align: center;
      outline: none;
      .icon-wrap {
        width: 49px;
        height: 55px;
        margin: 0 auto;
        position: relative;
        @include desktop {
          width: 40px;
          height: 43px;
        }
        .icon-1,
        .icon-2 {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          transition: opacity 0.3s ease-in-out;
          width: auto;
          max-width: 100%;
          max-height: 100%;
          transition: opacity 0.3s ease-in-out;
        }
        .icon-1 {
          opacity: 1;
          visibility: visible;
        }
        .icon-2 {
          opacity: 0;
          visibility: hidden;
        }
      }
      &.slick-current {
        .icon-wrap {
          .icon-1 {
            opacity: 0;
            visibility: hidden;
          }
          .icon-2 {
            opacity: 1;
            visibility: visible;
          }
        }
        span {
          &:after {
            opacity: 1;
          }
        }
      }
      &:hover {
        .icon-wrap {
          .icon-1 {
            opacity: 0;
            visibility: hidden;
          }
          .icon-2 {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      span {
        margin-top: 8px;
        color: cornflowerblue;
        font-size: 18px;
        line-height: 1.39;
        max-width: 175px;
        display: inline-block;
        text-align: center;
        position: relative;
        padding-bottom: 36px;

        @include desktop {
          font-size: 14px;
          padding-bottom: 32px;
          margin-top: 9px;
        }
        @include tablet {
          padding-bottom: 25px;
        }
        @include tablet-down {
          margin-top: 7px;
          padding-bottom: 20px;
        }
        &:after {
          content: "";
          position: absolute;
          width: calc(100% + 24px);
          height: 5px;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          background-color: red;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
  }
  .content-outer {
    padding: 36px 108px 54px;
    @include tablet {
      padding: 30px 40px;
    }
    @include tablet-down {
      padding: 30px 30px;
    }
    .tab-content {
      display: flex;
      @include tablet-down {
        flex-wrap: wrap;
      }
    }
    .content-wrap {
      flex: 0 0 50.4%;
      max-width: 50.4%;
      padding-right: 30px;
      @include desktop-mid {
        flex: 0 0 46.2%;
        max-width: 46.2%;
        padding-right: 0;
      }
      @include tablet-down {
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 20px;
        padding-right: 0;
        order: 1;
      }
      p {
        margin-top: 16px;
        font-size: 18px;
        margin-bottom: 27px;
        line-height: 1.56;
        @include desktop {
          font-size: 14px;
          line-height: 1.78;
          margin: 4px 0px 24px;
        }
        &:last-of-type {
          margin-bottom: 19px;
          @include desktop {
            margin-bottom: 12px;
          }
        }
      }
      .btn-wrap {
        margin-top: 12px;
        @include desktop {
          margin-top: 12px;
        }
      }
    }
    .img-wrap {
      flex: 0 0 49.4%;
      max-width: 49.4%;
      justify-content: flex-end;
      display: flex;
      padding-left: 10px;
      @include desktop-mid {
        flex: 0 0 53.8%;
        max-width: 53.8%;
      }
      @include tablet-down {
        padding-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: inherit;
        order: 0;
      }

      .bg-img {
        max-width: 520px;
        overflow: hidden;
        height: 300px;
        @include desktop-mid {
          max-width: 429px;
        }
        @include tablet {
          max-width: 400px;
        }
        @include tablet-down {
          max-width: 100%;
          width: 100%;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .slick-arrow {
    position: absolute;
    bottom: -40px;
    border: 0;
    font-size: 0;
    outline: none;
    cursor: pointer;
  }
  h4 {
    font-weight: 500;
  }
  .slick-prev,
  .slick-next {
    z-index: 3;
    bottom: -7px;
    @include tablet {
      bottom: -8px;
    }
    @include tablet-down {
      bottom: -6px;
    }
  }
  .slick-prev {
    left: -34px;

    @include tablet-down {
      left: 0;
    }
  }
  .slick-next {
    right: -34px;
    @include desktop-down {
      right: 0px;
    }
  }
  .intro {
    text-align: center;
    max-width: 800px;
    margin: auto;
    p {
      @include container-down {
        margin-top: 12px;
      }
    }
  }
}