.tab-grid {
  color: black;
  .intro {
    max-width: 834px;
    margin-right: auto;
    margin-left: auto;
  }
  .item-wrap {
    display: flex;
    padding: 50px;
    background-color: black;
    @include phablet-down{
      padding: 30px;
    }
    .list-wrap {
      width: 29%;
      padding-right: 30px;
      @include desktop-up {
        display: flex;
        flex-wrap: wrap;
      }
      @include tablet {
        padding-right: 10px;
      }
      @include desktop-down {
        padding: 0;
        width: 100%;
      }

      .list-item {
        width: 100%;
        position: relative;
        padding-right: 50px;
        padding-bottom: 30px;
        @include tablet-up {
          cursor: pointer;
        }

        @include desktop-down {
          padding: 0;
          opacity: 1;
        }

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
          padding-bottom: 0;
        }
        .tab-item {
          position: relative;
          display: flex;
          @include desktop-down {
            padding-bottom: 20px;
            padding-right: 32px;
            cursor: pointer;
          }
          &:after {
            content: "";
            position: absolute;
            top: 8px;
            right: 0;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid red;
            opacity: 0;
            transition: 0.4s;

            @include desktop-down {
              opacity: 1;
            }
          }
          &.mobile-active {
            h3 {
              color: red;
            }
            &:after {
              transform: scaleY(-1);
            }
            .img-wrap {
              img {
                &.inactive-icon {
                  display: none;
                }
                &.active-icon {
                  display: block;
                }
              }
            }
          }
        }

        h3 {
          font-size: 25px;
          color: white;
          padding-left: 25px;
        }
        p {
          line-height: 1.4;
          @include tablet-down {
            padding-right: 40px;
          }
        }
        .text-wrap {
          .inner-text {
            p {
              @include desktop-down {
                padding-right: 0;
              }
            }
          }
        }
        .img-wrap {
          max-width: 35px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @include tablet-down {
            max-width: 45px;
            margin-bottom: 20px;
          }

          img {
            width: 100%;
            height: 100%;
            &.inactive-icon {
              display: block;
            }
            &.active-icon {
              display: none;
            }
          }
        }
        &.active {
          @include desktop-up {
            opacity: 1;
            h3 {
              color: red;
            }
            &:after {
              opacity: 1;
            }
            .img-wrap {
              img {
                &.inactive-icon {
                  display: none;
                }
                &.active-icon {
                  display: block;
                }
              }
            }
          }
        }
        .column-item {
          @include desktop-up {
            display: none !important;
          }
        }
      }
    }
    .column-wrap {
      width: 71%;
      height: 500px;
      overflow: hidden;
      border-radius: 8px;
      @include desktop-down {
        display: none;
      }
      .column-item {
        display: none;
        height: 100%;
        .text-wrap {
          width: 40%;
          background-color: white;
          padding: 40px 29px 40px 40px;
          @include desktop-down {
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            padding: 30px 20px;
          }

          .inner-text {
            width: 100%;
            margin: 30px 0;
            &:last-child {
              border-bottom: none;
              margin-bottom: 0;
              padding-bottom: 0;
            }

            @include tablet-down {
              margin-left: 0;
              margin-bottom: 12px;
              padding-bottom: 15px;
            }
          }
          p {
            color: black;
            line-height: 1.4;
            @include desktop-down {
              padding: 0;
            }
          }
          a {
            margin-top: 43px;
            @include desktop-down {
              margin-top: 20px;
            }
          }
        }
        .img-item {
          width: 60%;
          overflow: hidden;
          @include tablet{
            height: 300px;
            margin-bottom: 40px;
            width: 100%;
          }
          @include phablet{
            height: 300px;
            margin-bottom: 40px;
            width: 100%;
          }
          @include phablet-down{
            height: 250px;
            margin-bottom: 40px;
            width: 100%;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          &.image-contain {
            img {
              object-fit: contain;
              @include desktop-down {
                max-height: 380px;
              }
            }
          }
        }
        &.active {
          display: flex;
        }
      }
    }
    .icon-wrap{
      position: relative;
      max-width: 81px;
      overflow: hidden;
      height: 82px;
      z-index: 2;
      border-radius: 50%;
      width: 100%;
      display: inline-block;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
