.text-with-images{
  display: flex;
  min-height: 560px;
  align-items: center;
  overflow: visible;
  //margin-top: 100px;
  @include tablet-down{
    min-height: 320px;
  }
  @include tablet{
    min-height: 350px;
  }
  @include desktop {
    min-height: 380px;
  }
  .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    //width: calc(100% - 100px);
    width: 100%;
    right: 0;
    margin: 0 auto;
    box-shadow: -5px 5px 10px 0px #c6c6c6;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-wrap{
    max-width: 565px;
    position: relative;
    z-index: 1;
    @include tablet{
      max-width: 100%;
    }
    @include phablet-down{
      text-align: center;
    }
    h1 {
      color: black;
      margin: 10px 0 0;
    }
    span{
      font-size: 15px;
      color: deeppink;
      font-family: sans-serif;
    }
    p{
      color: black;
      margin: 20px 0 0;
    }
    .btn-wrap{
      margin-top: 20px;
    }
  }
}
.dark-black-overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.50;
  }
}