/* Transition */
@mixin transition($property, $time, $behaviour) {
  -webkit-transition: $property $time $behaviour;
  -moz-transition: $property $time $behaviour;
  -o-transition: $property $time $behaviour;
  -ms-transition: $property $time $behaviour;
  transition: $property $time $behaviour;
}

/* Transition-delay  */
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  -ms-transition-delay: $transition-delay;
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}

@mixin transition-property($property) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
}

/* Order  */
@mixin order($order) {
  -webkit-box-ordinal-group: $order;
  -moz-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}

/* Transform-origin */
@mixin transform-origin($origin) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

/* Transform */
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

/* border-radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

/* Backface-visibility  */
@mixin backface-visibility($arguments) {
  -webkit-backface-visibility: $arguments;
  -moz-backface-visibility: $arguments;
  -ms-backface-visibility: $arguments;
  -o-backface-visibility: $arguments;
  backface-visibility: $arguments;
}

/* Box-shadow*/
@mixin box-shadow($top, $left, $blur, $color) {
  box-shadow: $top $left $blur $color;
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  -ms-box-shadow: $top $left $blur $color;
  -o-box-shadow: $top $left $blur $color;
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin box-orient($orientation) {
  -webkit-box-orient: $orientation;
  -moz-box-orient: $orientation;
  -ms-box-orient: $orientation;
  -o-box-orient: $orientation;
  box-orient: $orientation;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -o-flex-direction: $direction;
  flex-direction: $direction;
  -ms-flex-direction: $direction;
}

@mixin box-align($alignment) {
  -webkit-box-align: $alignment;
  -moz-box-align: $alignment;
  -ms-box-align: $alignment;
  -o-box-align: $alignment;
  box-align: $alignment;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -o-align-items: $align;
  align-items: $align;
}

@mixin line-clamp($line-clamp) {
  -webkit-line-clamp: $line-clamp;
  -moz-line-clamp: $line-clamp;
  -ms-line-clamp: $line-clamp;
  -o-line-clamp: $line-clamp;
  line-clamp: $line-clamp;
}

/* Animation */
@mixin animation($animation, $duration, $transition, $iteration) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $transition;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $transition;
  -moz-animation-iteration-count: $iteration;
  -o-animation-name: $animation;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $transition;
  -o-animation-iteration-count: $iteration;
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $transition;
  animation-iteration-count: $iteration;
}

/*Width for all icons*/
$icon_width: 55px;
$icon_height: 55px;

/*btn color */
$btn-bg-color: #000000;
$btn-text-color: #FFFFFF;
$btn-bg-hover-color: #000000;
$tag-color: #000000;

/* Base colors*/
$white: #FFFFFF;
$black: #000000;
$violet: #241E4E;
$navyblue: #020122;
$red: #960200;
$redorange: #FF521B;
$copperred: #CE6C47;
$mediumchampagne: #EADAA2;
$sungold: #FFD046;
$opal: #9DB4AB;
$artichoke: #878E76;
$sandybrown: #FF521B;
$gray: #505050;
$lightgray: #e6e6e6;
$green: #2ecc71;
$blue: #3498db;
$turquoise: #1abc9c;
$black: #000;
$black-dark: #1c1c1c;
$dark-gray: #1d1d1d;
$light-gray: #f8f8f8;
$gray: #bdc1c1;
$white: #fff;
$skyblue: #1ac0c6;
$yellow: #ffa822;
$orange: #e84b1b;
$dark-skyblue: #134e6f;
$light-black: #797979;
$white: #ffffff;
$black: #000000;
$light_gray: #707070;
$red: #f50057;
$dark-gray: #202020;
$gray: #818181;
$dark-brown: #9D9D9D;
$darkgray: #3b3b3b;
$light-brwon: #B5B5B5;
$brown: #141414;



//new

$custom-colors: (
        "white": $white,
        "black": $black,
        "violet": $violet,
        "navyblue": $navyblue,
        "red": $red,
        "redorange": $redorange,
        "copperred": $copperred,
        "mediumchampagne": $mediumchampagne,
        "sungold": $sungold,
        "opal": $opal,
        "artichoke": $artichoke,
        "sandybrown": $sandybrown,
        "gray": $gray,
        "lightgray": $lightgray,
        "green": $green,
        "blue": $blue,
        "turquoise": $turquoise,
);

/*  Media query variables */
$phone_width: 481px;
$phablet_width: 596px;
$tablet_width: 768px;
$desktop_width: 992px;
$desktop_mid_width: 1024px;
$psd_width: 1399px;
$container_width: 1190px;
$font-families: proxima-nova, sans-serif;
$orientation: landscape;

/* 
 * Mobile landscape media query 
 */

/* (max-width: 480px) */
@mixin phonedown_landscape {
  @media (max-width: #{$phone_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (max-width: 991px) */
@mixin tablet_landscape {
  @media (max-width: #{$desktop_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (max-width: 767px) */
@mixin mobiledown_landscape {
  @media (max-width: #{$tablet_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (max-width: 595px) */
@mixin phabletdown_landscape {
  @media (max-width: #{$phablet_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (min-width: 596px), (max-width: 767px) */
@mixin mobile_landscape {
  @media (min-width: #{$phablet_width}) and (max-width: #{$tablet_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

@mixin mobile_down {
  @media (max-width: #{$tablet_width - 1px} and (max-height: #{400px})) {
    @content;
  }
}

/*  (min-width:481px), (max-width: 595px) */
@mixin phoneup_landscape {
  @media (min-width: #{$phone_width}) and (max-width: #{$phablet_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (min-width: 768px), (max-width: 991px) */
@mixin ipad_landscape {
  @media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (min-width:992px), (max-width: 1024px) */
@mixin desktop-mid {
  @media (min-width: #{$desktop_width}) and (max-width: #{$desktop_mid_width}) {
    @content;
  }
}

/* (min-width:992px), (max-width: 1190px) */
@mixin desktop {
  @media (min-width: #{$desktop_width}) and (max-width: #{$container_width}) {
    @content;
  }
}

/* (min-width:1151px), (max-width: 1400px) */
@mixin desktop-large {
  @media (min-width: #{$container_width + 1}) and (max-width: #{$psd_width}) {
    @content;
  }
}

/*  (min-width:768px), (max-width: 991px) */
@mixin tablet {
  @media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

/*  (min-width:596px), (max-width: 767px) */
@mixin phablet {
  @media (min-width: #{$phablet_width}) and (max-width: #{$tablet_width - 1px}) {
    @content;
  }
}

/*  (min-width:481px), (max-width: 595px) */
@mixin phone {
  @media (min-width: #{$phone_width}) and (max-width: #{$phablet_width - 1px}) {
    @content;
  }
}

/*  (max-width:1170px) */
@mixin container-outer-down {
  @media (max-width: #{$container_width+20}) {
    @content;
  }
}

/*  Media query mixins
   (min-width:1150px) */
@mixin container-up {
  @media (min-width: #{$container_width}) {
    @content;
  }
}

/* (max-width:1150px) */
@mixin container-down {
  @media (max-width: #{$container_width}) {
    @content;
  }
}

/*  (min-width:992px) */
@mixin desktop-up {
  @media (min-width: #{$desktop_width}) {
    @content;
  }
}

/* (max-width:991px) */
@mixin desktop-down {
  @media (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

/* (max-width:767px) */
@mixin tablet-down {
  @media (max-width: #{$tablet_width - 1px}) {
    @content;
  }
}

/* (min-width:768px) */
@mixin tablet-up {
  @media (min-width: #{$tablet_width}) {
    @content;
  }
}

/* (max-width:595px) */
@mixin phablet-down {
  @media (max-width: #{$phablet_width - 1px}) {
    @content;
  }
}

/* (min-width:596px) */
@mixin phablet-up {
  @media (min-width: #{$phablet_width}) {
    @content;
  }
}

/*  (max-width:480px) */
@mixin phone-down {
  @media (max-width: #{$phone_width - 1px}) {
    @content;
  }
}
